<template>
  <q-page :class="$s['error-modal']">
    <div>Отсутствует интернет соединение!</div>
  </q-page>
</template>

<script>
export default {
  name: 'ErrorModal'
}
</script>

<style lang="scss" module="$s">
.error-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #BABABA;
  font-weight: 300;
  font-size: 12px;
}
</style>
