<template>
  <q-page class="info-modal">
    <div>
      Валюта “обозначение валюты” перенесена в архив!
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'InfoModal'
}
</script>

<style lang="scss" scoped>
.info-modal {
  border: 1px solid #BABABA;
  box-shadow: 0 2px 2px 2px rgba($color: #000000, $alpha: 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}
</style>
