<template>
  <q-page class="blocked-modal">
    <img class="logo" src="../../assets/images/logo-round.png">
    <p class="text-subtitle2">Для входа в приложение введите пароль</p>
    <q-input
      v-model="userPassword"
      outlined
      square
      dense
      :placeholder="this.pin ? 'PIN-КОД' : 'Пароль'"
      :type="isPwd ? 'password' : 'text'"
      color="blue-5"
      class="password-input"
    >
      <template v-slot:append>
        <q-icon
          :name="isPwd ? 'visibility_off' : 'visibility'"
          class="cursor-pointer"
          @click="isPwd = !isPwd"
        ></q-icon>
      </template>
    </q-input>
  </q-page>
</template>

<script>
export default {
  name: 'blocked',
  data () {
    return {
      userPassword: '',
      isPwd: true
    }
  },

  computed: {
    blocked () {
      return this.$store.getters['security/blocked']
    },
    password () {
      return this.$store.getters['security/password']
    },
    pin () {
      return this.$store.getters['security/pin']
    }
  },

  watch: {
    userPassword () {
      if (this.$store.state.settings.lastSymbolsPassword) {
        if (this.userPassword === this.password.substring(this.password.length - 4)) {
          this.$store.commit('security/UNBLOCK')
          if (process.env.MODE === 'electron') {
            this.$q.electron.remote.BrowserWindow.getFocusedWindow().close()
          }
        }
      }
      if (this.userPassword === this.password || this.userPassword === this.pin) {
        this.$store.commit('security/UNBLOCK')
        if (process.env.MODE === 'electron') {
          this.$q.electron.remote.BrowserWindow.getFocusedWindow().close()
        }
      }
    }
  },

  mounted () {
  }
}
</script>

<style scoped>
  .blocked-modal {
    padding: 8px;
    text-align: center;
  }

  .logo {
    width: 75px;
    height: 75px;
  }

  .password-input {
    width: 50%;
    margin: 0 auto;
  }
</style>
