<template>
  <q-page class="operation__wrapper column no-wrap">
    <div class="col-auto">
      <group-block>
        <div class="row bills-numbers">
          <div class="col-6 column justify-center items-center">
            <div class="text">Номер счета</div>
            <q-input
              square
              outlined
              v-model="accountNumber"
              dense
              al
              class="bills-numbers-input"
              color="blue-5" />
          </div>
          <div class="col-6 column justify-center items-center">
            <div class="text">Номер субсчета*</div>
            <q-input
              square
              outlined
              v-if="(!!inputAccountEntity)"
              v-model="subAccountNumber"
              dense
              class="bills-numbers-input"
              color="blue-5" />
            <q-input
              square
              v-else
              disable
              bg-color="grey-4"
              outlined
              v-model="subAccountNumber"
              dense
              class="bills-numbers-input"
              color="blue-5" />
          </div>
        </div>
      </group-block>
      <div class="column table bank-accounts">
        <div class="table__header row col-auto">
          <div class="col-6 table__header-item row items-center justify-center" v-if="finalAccount">{{finalAccount.title}}</div>
          <div class="col-6 table__header-item row items-center justify-center" v-else>-</div>
          <div class="col-6 table__header-item row items-center justify-center" v-if="typeString">{{typeString}}</div>
          <div class="col-6 table__header-item row items-center justify-center" v-else>-</div>
        </div>
        <div class="table__content col-grow row items-center justify-center" v-if="finalAccount">{{finalAccount.description}}</div>
        <div class="table__content col-grow row items-center justify-center" v-else>-</div>
      </div>
      <div class="q-mt-md q-mb-md row justify-end">
        <mf-button @click="acceptAccount">Подтвердить</mf-button>
      </div>
      <div class="operation__data" :class="{'disabled': !accepted}">
        <div class="values row">
          <div class="values__item col-6">
            <div class="values__header-item row items-center justify-center">Расходный</div>
            <text-input :value.sync="expense" alignment="center" placeholder="Сумма операции" class="values__input" @action="onChangeExpense"></text-input>
          </div>
          <div class="values__item col-6">
            <div class="values__header-item row items-center justify-center">Доходный</div>
            <text-input :value.sync="income" alignment="center" placeholder="Сумма операции" class="values__input" @action="onChangeIncome"></text-input>
          </div>
        </div>
        <q-input
          v-model="comment"
          autogrow
          outlined
          class="q-mt-md operation__description"
          input-class="input-textarea"
          maxlength="300"
          placeholder="Описание операции"
          color="blue-5" />
      </div>
    </div>
    <div class="items-end col-grow row q-mt-md justify-between operation__actions" :class="{'disabled': !accepted}">
      <mf-button @click="close">Удалить</mf-button>
      <mf-button @click="openSaveWindow">Сохранить</mf-button>
    </div>
  </q-page>
</template>

<script>
import group from '../../components/elements/group'
import textInput from '../../components/elements/textInput'
export default {
  name: 'CreateOperation',
  data () {
    return {
      accountNumber: '',
      subAccountNumber: '',
      accepted: false,
      expense: '',
      income: '',
      comment: ''
    }
  },
  components: {
    groupBlock: group,
    textInput: textInput
  },
  computed: {
    success () {
      return Math.random > 0.5
    },
    currentAccount () {
      if (this.currentSubAccount) {
        console.log(this.currentSubAccount.id)
        return this.$store.getters['table/getAccount'](this.currentSubAccount.accountId)
      } else {
        return this.$store.getters['ui/currentAccountEntity']
      }
    },
    inputAccountEntity () {
      return this.$store.getters['table/getAccountByNumber'](this.accountNumber)
    },
    inputSubAccountEntity () {
      return this.$store.getters['table/getSubAccountByNumber'](this.subAccountNumber)
    },
    currentSubAccount () {
      return this.$store.getters['ui/currentSubAccountEntity']
    },
    finalAccount () {
      console.log(this.inputAccountEntity)
      if (this.inputSubAccountEntity) {
        return this.inputSubAccountEntity
      } else if (this.inputAccountEntity && !this.subAccountNumber) {
        return this.inputAccountEntity
      } else {
        return null
      }
    },
    typeString () {
      if (this.currentAccount) {
        switch (this.currentAccount.type) {
          case 0:
            return 'Расходный'
          case 1:
            return 'Доходный'
          default:
            return null
        }
      } else {
        return null
      }
    }
  },
  methods: {
    onChangeExpense (e) {
      if (e) {
        this.income = ''
      }
    },
    onChangeIncome (e) {
      if (e) {
        this.expense = ''
      }
    },
    acceptAccount () {
      if (this.finalAccount) {
        this.accepted = true
      } else {
        // TO-DO Alert
      }
    },
    openSaveWindow () {
      this.$store.dispatch('table/addTransaction', {
        accountId: this.inputAccountEntity.id ? this.inputAccountEntity.id : null,
        subAccountId: this.inputSubAccountEntity ? this.inputSubAccountEntity.id : null,
        expense: this.expense,
        income: this.income,
        comment: this.comment
      })
      this.closeThisWindow()
      /*
      if (this.success) {
        this.openNewWindow('save-success', 'Оповещение', '/save-success', {
          parent: true,
          width: 300,
          height: 155
        })
      } else {
        this.openNewWindow('save-warning', 'Оповещение', '/save-warning', {
          parent: true,
          width: 300,
          height: 155
        })
      }
       */
    },
    close () {
      this.closeThisWindow()
    }
  },
  watch: {
    accountNumber () {
      if (!this.inputAccountEntity || !this.inputSubAccountEntity || this.inputAccountEntity.id !== this.inputSubAccountEntity.accountId) {
        this.subAccountNumber = ''
      }
    }
  },
  mounted () {
    if (this.currentAccount) {
      console.log(this.currentAccount)
      this.accountNumber = this.currentAccount.number
    }
    if (this.currentSubAccount) {
      this.subAccountNumber = this.currentSubAccount.number
      console.log(this.currentSubAccount)
    }
    /* eslint-disable */
    if (this.$route.query.hasOwnProperty('accountNumber')) {
      this.accountNumber = this.$route.query.accountNumber
    }
    if (this.$route.query.hasOwnProperty('subAccountNumber')) {
      this.subAccountNumber = this.$route.query.subAccountNumber
    }
    /* eslint-enable */
  }
}
</script>

<style lang="scss" scoped>
  .table{
    background: #F6F6F6;
    border: 1px solid #D5DFE5;
    border-radius: 2px;
    .table__header{
      height:25px;
      .table__header-item{
        height:100%;
        background: #F6F6F6;
        border: 1px solid #D5DFE5;
        border-radius: 2px;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #000000;
      }
    }
    .table__content{
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #A8B0BA;
    }
  }
.operation__wrapper{
  padding:14px 19px 24px 19px;
  /deep/.input-textarea{
    min-height: 120px;
    max-height: 120px;
    padding: 0 0;
  }
  /deep/.operation__description {
    .q-field__control {
      padding: 5px 5px;
    }
  }
  .bills-numbers{
    padding:20px;
    .bills-numbers-input{
      width:120px;
      margin-top:10px;
      .q-field__native  {
        text-align: center!important;
      }
    }
  }
  .bank-accounts{
    width:100%;
    height:122px;
  }
  .values{
    width:100%;
    .values__item{
      .values__header-item{
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        height:30px;
        background: #F6F6F6;
        border: 1px solid #ACACAC;
      }
    }
    .values__input{
      width:100%;
      height:30px;
    }
  }
  .operations__description{
    width:100%;
    height:128px;
    background: #F6F6F6;
    border: 1px solid #349FFF;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #A8B0BA;
  }
}
  .operation__data{
    &.disabled{
      opacity:0.7;
      pointer-events: none;
    }
  }
  .operation__actions{
    &.disabled{
      opacity:0.7;
      pointer-events: none;
    }
  }
</style>

<style lang="scss">
  .bills-numbers-input{
    width:120px;
    margin-top:10px;
    .q-field__native  {
      text-align: center!important;
    }
  }
</style>
