<template>
  <button
    class="mf-button"
    v-bind="$attrs"
    :class="{
      'mf-button--secondary': modifiers.indexOf('secondary') !== -1,
      'mf-button--rounded': modifiers.indexOf('rounded') !== -1,
    }"
    @click="$emit('click')">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'mfButton',
  inheritAttrs: false,
  props: {
    modifiers: {
      type: Array,
      default: () => {
        return []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.mf-button {
  width: calc(100% - 10px);
  min-width: 100px;
  width: fit-content;
  padding: 0 5px;
  height: 25px;
  background: #dddddd;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #a5a5a5;
  cursor: pointer;
  font-size: 12px;
  &:focus {
    outline: 1px solid #42a5f5;
  }

  &--secondary {
    background: #001B36;
  }

  &[disabled] {
    background: #EAECF4;
  }

  &--rounded {
    border-radius: 23px;
  }
}
</style>
