<template>
  <label :for="id || _uid" class="mf-checkbox">
    <div v-if="label" class="label">
      {{label}}
    </div>
    <div class="input">
      <div class="input__check-mark" :class="{ 'checked' : check }"></div>
      <input :id="id || _uid" v-model="check" @input="input" type="checkbox" ref="checkbox" />
    </div>
  </label>
</template>

<script>
export default {
  name: 'mfCheckbox',
  props: {
    id: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    value: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      check: false
    }
  },
  created () {
    this.check = this.value
  },
  methods: {
    input (event) {
      this.check = event.target.checked
      this.$emit('input', event.target.checked)
    }
  }
}
</script>

<style lang="scss" scoped>
.mf-checkbox {
  display: flex;
  height: 35px;
  .label {
    border: solid #A8B0BA;
    border-width: 1px 0 1px 1px;
    flex-grow: 1;
    font-size: 11px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #A8B0BA;
    height: 100%;
    width: 35px;
    cursor: pointer;
    &__check-mark {
      display: none;
      &.checked {
        display: block;
        position: relative;
        bottom: 4px;
        height: 9px;
        width: 21px;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        transform: rotate(-45deg);
      }
    }
    input {
      display: none;
    }
  }
}
</style>
