<template>
  <label
    :for="id || `toggle-${_uid}`"
    class="mf-toggle"
    :data-checked="value">
    <slot></slot>
    <div class="wrapper">
      <div class="flag" />
    </div>
    <input :id="id || `toggle-${_uid}`" type="checkbox" :checked="value" @change="change">
  </label>
</template>

<script>
export default {
  name: 'MfToggle',
  props: {
    id: {
      type: String,
      default: ''
    },
    value: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    change (e) {
      this.$emit('input', e.target.checked)
    }
  }
}
</script>

<style lang="scss" scoped>
.mf-toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  .wrapper {
    width: 43px;
    height: 20px;
    background: #ACACAC;
    border-radius: 10px;
    .flag {
      position: relative;
      top: 5px;
      left: 7px;
      border-radius: 50%;
      height: 10px;
      width: 10px;
      transition: 0.5s;
      background: #fff;
    }
  }

  &[data-checked] {
    .wrapper {
      background: #0078D7;
      .flag {
        transform: translateX(21px);
      }
    }
  }

  &[disabled] {
    pointer-events:none;
    .wrapper {
      background: #b6b6b6;
      }
    .flag {
      background: #7a7a7a;
    }
  }
  input[type="checkbox"] {
    display: none;
  }
}
</style>
