<template>
  <q-page class="password-modal">
    <div class="body">
      <div class="body__title">Введите Pin-код</div>
      <q-input
        v-model="password"
        outlined
        square
        dense
        placeholder="PIN-КОД"
        :type="isPwd ? 'password' : 'text'"
        color="blue-5">
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          ></q-icon>
        </template>
      </q-input>
    </div>
    <div class="buttons">
      <mf-button @click="openInfoModal">Подтвердить</mf-button>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'ArchivePasswordModal',
  data () {
    return {
      password: null,
      isPwd: true
    }
  },
  methods: {
    openInfoModal () {
      if (this.password) {
        if (process.env.MODE === 'electron') {
          this.$q.electron.remote.BrowserWindow.getFocusedWindow().close()
        }
      }
    }
  }
}
</script>

<style lang="scss">
.password-modal {
  border: 1px solid #BABABA;
  .body {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    &__title {
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      margin-bottom: 5px;
    }
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }
}
</style>
