<template>
  <q-page class="draft-operation">
    <div class="operations-list">
      <operation-card
        v-for="item in transactions"
        :key="item.id"
        :item="item"
      />
    </div>
  </q-page>
</template>

<script>
import OperationCard from './components/OperationsCard'
export default {
  name: 'DraftOperation',
  components: {
    OperationCard
  },
  data () {
    return {
    }
  },
  computed: {
    transactions () {
      return this.$store.getters['table/transactions']
        .filter((e) => e.isDraft)
    }
  }
}
</script>

<style lang="scss" scoped>
.draft-operation {
  border: 1px solid #BABABA;
  .operations-list {
    height: 500px;
    margin: 20px 20px 0 10px;
    background: #F6F6F6;
    border: 1px solid #B8B8B8;
    overflow-y: scroll;
    padding: 10px 20px 20px 20px;
  }
}
</style>
