<template>
  <q-page class="edit-currency-modal">
    <div class="input-name">
      <q-input
        v-model="currency.name"
        outlined
        dense
        placeholder="Наименование Валюты"
        color="blue-5" />
    </div>
    <div class="input-comma">
      <div class="input-comma__title">Количество отображаемых<br> знаков после запятой</div>
      <q-input
        v-model="currency.afterCommaNumber"
        type="number"
        square
        outlined
        dense
        color="blue-5"/>
    </div>
    <div class="input-description">
      <q-input
        v-model="currency.description"
        autogrow
        outlined
        input-class="input-textarea"
        placeholder="Описание Валюты"
        color="blue-5" />
    </div>
    <div class="buttons">
      <mf-button @click="clickCreate">Подтвердить</mf-button>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'EditCurrencyModal',
  data () {
    return {
      currencyArray: [
        {
          id: 1,
          name: 'Dollar',
          description: 'DescriptionDollar',
          afterCommaNumber: 2
        },
        {
          id: 2,
          name: 'Euro',
          description: 'DescriptionEuro',
          afterCommaNumber: 4
        }
      ]
    }
  },
  created () {
    console.log(this)
  },
  computed: {
    currency () {
      return this.currencyArray.find(i => i.id === +this.$route.query.id)
    }
  },
  methods: {
    clickCreate () {
      console.log('Clicked Edit Button')
    }
  }
}
</script>

<style lang="scss" scoped>
.edit-currency-modal {
  border: 1px solid #BABABA;
  display: flex;
  flex-direction: column;
  .input-name {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    :hover::before {
      border-color:#8f8f8f;
    }
  }
  .input-comma {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    :hover::before {
      border-color:#8f8f8f;
    }
  }
  .input-description {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    min-height: 100px;
    :hover::before {
      border-color:#8f8f8f;
    }

    /deep/.input-textarea {
      min-height: 140px;
    }
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: auto;
  }
}
</style>
