<template>
  <div class="account" :class="{'selected': (this.currentAccount === this.account.id && !currentSubAccount)}">
    <div class="account__header"
         @click="selectAccount"
         @dblclick="createOperation"
    >
      <div class="account__number">{{account.number}}</div>
      <div class="account__name">{{account.title}}</div>
    </div>
    <div class="account__subaccounts">
      <subaccount-block
        v-for="subaccount in subaccounts"
        :account="account"
        :subaccount="subaccount"
        :key="subaccount.id"
      ></subaccount-block>
    </div>
  </div>
</template>

<script>
import subaccount from './subaccount'
export default {
  name: 'account',
  components: {
    subaccountBlock: subaccount
  },
  props: {
    account: {
      type: Object
    }
  },
  computed: {
    subaccounts () {
      return this.$store.getters['table/getSubaccountsOfAccount'](this.account.id)
    },
    currentSubAccount () {
      return this.$store.getters['ui/currentSubaccount']
    },
    currentAccount () {
      return this.$store.getters['ui/currentAccount']
    }
  },
  methods: {
    selectAccount () {
      console.log(this.currentAccount)
      this.$store.commit('ui/SET_ACCOUNT', this.account.id)
    },
    createOperation () {
      // TODO use name 'create-operation3..' or 'create-operation'?
      this.openNewWindow('create-operation3', 'Создание операции', `non-resizable/create-operation?accountNumber=${this.account.number}`, {
        parent: true,
        width: 400,
        height: 630
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .account {
    margin:13px;
    box-sizing: border-box;
    &.selected{
      .account__header{
        padding:0 6px;
        background: #E5E5E5;
        border: 1px solid #0085FE;
      }
    }
    .account__header {
      cursor: pointer;
      display: flex;
      min-height:26px;
      width:100%;
      align-items: center;
      padding:0 7px;
      font-size: 11px;
      line-height: 13px;
      color: #0085FE;
      .account__number {
        width:45px;
        margin-right:10px;
        flex-shrink: 0;
      }

      .account__name {
        flex-grow: 1;
      }
    }

    .account__subaccounts {

    }
  }
</style>
