<template>
  <div class="tree column">
    <div class="tree__header col-shrink">
      Счета
    </div>
    <div class="tree__accounts col-grow" v-if="accounts.length">
      <account-block v-for="account in accounts" :key="account.id" :account="account"></account-block>
    </div>
    <div class="tree__no-accounts col-grow" v-else>
      Счета отсутствуют
    </div>
    <div class="tree__footer col-shrink items-center no-wrap row">
      <div class="tree__filter items-center row">
        <div class="tree__filter-input col-8">
          <input type="text" v-model="treeFilterValue">
        </div>
        <div class="tree__filter-mode">
          <div class="filter-mode" v-show="filterModeOpened">
            <div class="filter-mode__item row justify-between items-center"
                 @click="treeFilterType = 1"
                 :class="{'filter-mode__item_selected': treeFilterType === 1 }">
              <div class="item__value">По названию счета</div>
              <div class="item__radio"></div>
            </div>
            <div class="filter-mode__item row justify-between items-center"
                 @click="treeFilterType = 2"
                 :class="{'filter-mode__item_selected': treeFilterType === 2 }">
              <div class="item__value">По описанию счета</div>
              <div class="item__radio"></div>
            </div>
          </div>
          <img @click="openFilterMode" src="./assets/images/filter-mode.svg">
        </div>
      </div>
      <div class="tree__add items-center row justify-center" @click="openOperationWindow">
        <img src="./assets/images/add.svg">
      </div>
    </div>
  </div>
</template>

<script>
import account from './account'

export default {
  name: 'tree',
  components: {
    accountBlock: account
  },
  data () {
    return {
      filterModeOpened: false
    }
  },
  computed: {
    accounts () {
      let accounts = this.$store.getters['table/getAccountsByCurrency'](this.$store.getters['ui/currentCurrency'])
      if (this.treeFilterValue) {
        const regexp = new RegExp(this.treeFilterValue.replace(/[-/\\^$*+?.()|[\]{}]/g, '\\$&'), 'i')
        accounts = accounts.filter(e => {
          if (this.treeFilterType === 1) {
            return regexp.test(e.title)
          } else if (this.treeFilterType === 2) {
            return regexp.test(e.description)
          }
        })
      }
      return accounts
    },
    treeFilterValue: {
      set (value) {
        this.$store.commit('ui/SET_TREE_FILTER', { value: value })
      },
      get () {
        return this.$store.state.ui.treeFilter.value
      }
    },
    treeFilterType: {
      set (value) {
        this.$store.commit('ui/SET_TREE_FILTER', { type: value })
      },
      get () {
        return this.$store.state.ui.treeFilter.type
      }
    }
  },
  methods: {
    openOperationWindow () {
      this.openNewWindow('create-operation2', 'Создание операции', 'non-resizable/create-operation', {
        parent: true,
        width: 400,
        height: 640
      })
    },
    openFilterMode (e) {
      this.filterModeOpened = !this.filterModeOpened
      e.stopPropagation()
      const click = () => {
        this.filterModeOpened = false
        window.removeEventListener('click', click, true)
      }
      if (this.filterModeOpened) {
        window.addEventListener('click', click, true)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../css/colors";

  .tree {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .tree__header {
      color: #ffffff;
      height: 42px;
      background-color: $colorAccent;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      border-right: 1px solid $colorAccentLight;
    }

    .tree__accounts {
      padding: 5px;
    }

    .tree__no-accounts{
      width:100%;
      text-align: center;
      padding:20px;
      color:#8f8f8f;
    }

    .tree__footer {
      width: 100%;
      padding: 0 17px;
      height: 54px;
      position: relative;
      background: #ECECEC;

      .filter-mode {
        position: absolute;
        bottom: 100%;
        background: #E1E1E1;

        .filter-mode__item {
          padding: 10px 17px;
          width: 160px;
          cursor: pointer;

          &.filter-mode__item_selected {
            .item__radio {
              background-color: #0085FE;
            }
          }

          &:hover {
            background-color: #8f8f8f;
          }

          .item__value {
            font-weight: 300;
            font-size: 10px;
            line-height: 12px;

            color: #000000;

          }

          .item__radio {
            border-radius: 50%;
            width: 8px;
            height: 8px;
            background: #ffffff;
            border: solid 1px #0085FE;
          }
        }
      }

      .tree__filter {
        flex-grow: 1;

        .tree__filter-input {
          background: #F5F5F5;
          border: 0.908504px solid #C2C2C2;
          height: 23px;
          overflow: hidden;
          border-radius: 10px;
          flex-grow: 1;
          margin-right: 15px;

          input {
            height: 100%;
            width: 100%;
            padding: 0 10px;
            border: none;
          }
        }

        .tree__filter-mode {
          flex-shrink: 0;

          img {
            cursor: pointer;
          }
        }
      }

      .tree__add {
        font-size: 0;
        width: 22px;
        margin-left: 20px;

        img {
          cursor: pointer;
        }
      }
    }
  }
</style>
