<template>
  <div class="subaccount" :class="{'selected': this.currentSubaccount === this.subaccount.id}"
       @click="selectSubaccount"
       @dblclick="createOperation"
  >
    <div class="subaccount__horizontal-line"></div>
    <div class="subaccount__vertical-line_top"></div>
    <div class="subaccount__vertical-line_bottom"></div>
    <div class="subaccount__number">{{subaccount.number}}</div>
    <div class="subaccount__name">{{account.title}}</div>
  </div>
</template>

<script>
export default {
  name: 'subaccount',
  props: {
    subaccount: {
      type: Object
    },
    account: {
      type: Object
    }
  },
  computed: {
    currentSubaccount () {
      return this.$store.getters['ui/currentSubaccount']
    }
  },
  methods: {
    selectSubaccount () {
      this.$store.dispatch('ui/setSubAccount', this.subaccount.id)
    },
    createOperation () {
      // TODO use name 'create-operation3..' or 'create-operation'?
      this.openNewWindow('create-operation3', 'Создание операции', `non-resizable/create-operation?accountNumber=${this.account.number}&subAccountNumber=${this.subaccount.number}`, {
        parent: true,
        width: 400,
        height: 630
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .subaccount {
    cursor: pointer;
    &.selected{
      background: #E5E5E5;
      border: 1px solid #0085FE;
      padding-left:6px;
      .subaccount__vertical-line_top{
        left:6px;
      }
      .subaccount__vertical-line_bottom{
        left:6px;
      }
    }
    min-height:26px;
    align-items: center;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    padding-left:7px;
    display: flex;
    position: relative;
    overflow: hidden;
    &:last-child{
      .subaccount__vertical-line_bottom{
        display: none;
      }
    }
    .subaccount__horizontal-line{
      width:35px;
      height:1px;
      background-color: #0085FE;
      flex-shrink: 0;
    }
    .subaccount__vertical-line_top{
      width:1px;
      height:100%;
      background-color: #0085FE;
      position: absolute;
      bottom:50%;
      left:7px;
    }
    .subaccount__vertical-line_bottom{
      width:1px;
      height:100%;
      background-color: #0085FE;
      position: absolute;
      bottom:0;
      left:7px;
    }
    .subaccount__number {
      margin-left:3px;
      width:45px;
      margin-right:10px;
      flex-shrink: 0;
    }

    .subaccount__name {
      flex-grow: 1;
    }
  }
</style>
