<template>
  <q-page class="create-currency-sync">
    <div class="body">
      <mf-checkbox
        v-for="(item, i) in array"
        :key="i"
        v-model="item.checked"
        :label="item.label"  />
    </div>
    <div class="buttons">
      <mf-button @click="confirmation">Подтвердить</mf-button>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Sync',
  data () {
    return {
      array: [
        {
          label: 'Синхронизировать с облаком',
          checked: false
        },
        {
          label: 'Работать автономно',
          checked: false
        }
      ]
    }
  },
  methods: {
    confirmation () {
      console.log('confirmation')
    }
  }
}
</script>

<style lang="scss" scoped>
.create-currency-sync {
  border: 1px solid #BABABA;
  .body {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80px;
    margin: auto;
    margin-top: 35px;
    justify-content: space-between;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: auto;
    margin-top: 35px;
  }
}
</style>
