<template>
  <q-page class="archive-modal">
    <div class="body">
      <currency-card v-for="(item, i) in currencyArray"
        :key="i"
        :item="item" />
    </div>
    <div class="buttons">
      <mf-button @click="openPasswordModal">Извлечь</mf-button>
    </div>
  </q-page>
</template>

<script>
import CurrencyCard from '../CurrencyModal/components/CurrencyCard'
export default {
  name: 'ArchiveModal',
  components: {
    CurrencyCard
  },
  data () {
    return {
      currencyArray: [
        {
          id: 1,
          name: 'Dollar',
          description: 'DescriptionDollar',
          afterCommaNumber: 2
        },
        {
          id: 2,
          name: 'Euro',
          description: 'DescriptionEuro',
          afterCommaNumber: 4
        }
      ]
    }
  },
  methods: {
    openPasswordModal () {
      this.openNewWindow('currency/archive/password', 'Архивация', '/password', {
        parent: true,
        width: 300,
        height: 235
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.archive-modal {
  border: 1px solid #ABABAB;
  .body {
    overflow-y: scroll;
    background: #F6F6F6;
    border: 1px solid #B8B8B8;
    width: 85%;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 10px;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    width: 85%;
    margin: auto;
    margin-top: 25px;
  }
}
</style>
