<template>
  <q-page class="create-currency-modal">
    <div class="input-name">
      <q-input
        v-model="data.title"
        outlined
        dense
        placeholder="Наименование Валюты"
        color="blue-5" />
    </div>
    <div class="input-comma">
      <div class="input-comma__title">Количество отображаемых<br> знаков после запятой</div>
      <q-input
        v-model="data.afterCommaNumber"
        type="number"
        square
        outlined
        dense
        color="blue-5"/>
    </div>
    <div class="input-description">
      <q-input
        v-model="data.description"
        autogrow
        outlined
        input-class="input-textarea"
        dense
        placeholder="Описание Валюты"
        color="blue-5" />
    </div>
    <div class="buttons">
      <mf-button @click="create">Подтвердить</mf-button>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'CreateCurrencyModal',
  data () {
    return {
      data: {
        title: null,
        afterCommaNumber: null,
        description: null
      }
    }
  },
  methods: {
    create () {
      this.$store.dispatch('table/addCurrency', this.data)
      this.closeThisWindow()
      this.$q.electron.remote.BrowserWindow.getFocusedWindow().getParentWindow().close()
    }
  }
}
</script>

<style lang="scss" scoped>
.create-currency-modal {
  border: 1px solid #BABABA;
  display: flex;
  flex-direction: column;
  .input-name {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    :hover::before {
      border-color:#8f8f8f;
    }
  }
  .input-comma {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    :hover::before {
      border-color:#8f8f8f;
    }
  }
  .input-description {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    min-height: 100px;
    :hover::before {
      border-color:#8f8f8f;
    }

    /deep/.input-textarea {
      min-height: 140px;
      max-height: 120px;
    }
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: 15px auto;
  }
}
</style>
