<template>
  <div class="account column">
    <div class="row justify-between account__name-balance items-center col-shrink">
      <div class="account__name">{{currentAccount.title}}</div>
      <div class="account__balance">{{currentBalance}}</div>
    </div>
    <div class="account__description col-shrink">{{currentAccount.description}}</div>
    <div class="account__date-range row justify-between items-center col-shrink">
      <div class="date-range__item" v-if="this.firstAndLastOperations.first">{{getTheDate(new
        Date(this.firstAndLastOperations.first.date))}}
      </div>
      <div class="date-range__item" v-else>-</div>
      <div class="date-range__item" v-if="this.firstAndLastOperations.last">{{getTheDate(new
        Date(this.firstAndLastOperations.last.date))}}
      </div>
      <div class="date-range__item" v-else>-</div>
    </div>
    <div class="col-grow"></div>
    <div class="bottom-buttons row col-shrink">
      <div class="bottom-button justify-center items-center column col-5">
        <div class="bottom-button__label">Создание счета</div>
        <div class="bottom-button__label">{{creationTime}}</div>
      </div>
      <div class="bottom-button justify-center items-center column col-5">
        <div class="bottom-button__label">Создание операций</div>
        <div class="bottom-button__label">{{dateOfFirstTransaction}}</div>
      </div>
      <div class="bottom-button justify-center items-center column col-2"
           @dblclick="createOperation"
      >
        <img src="./assets/images/copy.svg">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'account',
  computed: {
    currentAccountOrSubAccount () {
      if (this.currentSubAccount) {
        return this.currentSubAccount
      } else {
        return this.currentAccount
      }
    },
    currentBalance () {
      return this.$store.state.ui.transactionFilter.balance
      /* if (this.currentSubAccount) {
        return this.$store.getters['table/getAccountBalance'](this.currentSubAccount.id)
      } else if (this.currentAccount) {
        return this.$store.getters['table/getAccountBalance'](this.currentAccount.id)
      } else {
        return 0
      } */
    },
    creationTime () {
      const date = new Date(this.currentAccountOrSubAccount.creationTime)
      return this.getWithZero(date.getDate()) + '.' + this.getWithZero(date.getMonth() + 1) + '.' + this.getWithZero(date.getFullYear())
    },
    firstAndLastOperations () {
      if (this.currentSubAccount) {
        return this.$store.getters['table/getFirstAndLastOperationOfSubAccount'](this.currentSubAccount.id)
      } else {
        return this.$store.getters['table/getFirstAndLastOperationOfAccount'](this.currentAccount.id)
      }
    },
    dateOfFirstTransaction () {
      console.log(this.firstAndLastOperations)
      if (this.firstAndLastOperations.first) {
        const date = new Date(this.firstAndLastOperations.first.date)
        return this.getTheDate(date)
      } else {
        return '-'
      }
    },
    currentAccount () {
      if (this.$store.getters['ui/currentAccount']) {
        return this.$store.getters['table/getAccount'](this.$store.getters['ui/currentAccount'])
      } else {
        return null
      }
    },
    currentSubAccount () {
      if (this.$store.getters['ui/currentSubaccount']) {
        console.log(this.$store.getters['table/getSubAccount'](this.$store.getters['ui/currentSubaccount']))
        return this.$store.getters['table/getSubAccount'](this.$store.getters['ui/currentSubaccount'])
      } else {
        return null
      }
    }
  },
  methods: {
    getWithZero (value) {
      return (value < 10) ? '0' + value : value
    },
    getTheDate (date) {
      return this.getWithZero(date.getDate()) + '.' + this.getWithZero(date.getMonth() + 1) + '.' + this.getWithZero(date.getFullYear())
    },
    createOperation () {
      // TODO use name 'create-operation3..' or 'create-operation'?
      this.openNewWindow('create-operation3', 'Создание операции', `non-resizable/create-operation?accountNumber=${this.currentAccount.number}`, {
        parent: true,
        width: 400,
        height: 630
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .account {
    height: 100%;
    background-color: #ffffff;

    .account__name-balance {
      height: 34px;
      border-bottom: 1px solid #D3D3D3;
      padding: 0 9px;

      .account__name {
        font-size: 11px;
        line-height: 13px;
        color: #000000;
      }

      .account__balance {
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        text-align: right;
        color: #000000;
      }
    }

    .account__description {
      height: 68px;
      padding: 5px 9px;
      font-size: 10px;
      line-height: 12px;
      color: #000000;
    }

    .account__date-range {
      background: #E5E5E5;
      height: 24px;
      padding: 0 9px;

      .date-range__item {
        font-size: 11px;
        line-height: 13px;
        color: #0085FE;
      }
    }

    .bottom-buttons {
      height: 54px;
      width: 100%;
      background: #ECECEC;

      .bottom-button {
        border-right: solid 1px #ffffff;

        &:last-child {
          border-right: none;
        }

        .bottom-button__label {
          font-size: 10px;
          line-height: 12px;
          text-align: center;
          color: #0085FE;

          &:first-child {
            margin-bottom: 9px;
          }
        }
      }
    }
  }
</style>
