<template>
  <div class="operation column">
    <div class="operation__content col-grow">
      <div class="operation__numbers row justify-between">
        <div class="operation__number col-5">
          <div class="number__label row justify-center">Номер счета</div>
          <div class="number__value row justify-center items-center">{{account.number}}</div>
        </div>
        <div class="operation__number col-5">
          <div class="number__label row justify-center">Номер субсчета</div>
          <div class="number__value row justify-center items-center" v-if="subAccount">{{subAccount.number}}</div>
          <div class="number__value row justify-center items-center" v-else>-</div>
        </div>
      </div>
      <div class="account">
        <div class="account__header row">
          <div class="account__name col-6 row items-center justify-center">{{account.title}}</div>
          <div class="account__type col-6 row items-center justify-center">{{accountTypeString}}</div>
        </div>
        <div class="account__description">{{account.description}}</div>
      </div>
      <div class="operation__amounts column items-stretch">
        <div class="amounts__header row">
          <div class="amounts__header_item col-6 row items-center justify-center">
            Доход
          </div>
          <div class="amounts__header_item col-6 row items-center justify-center">
            Расход
          </div>
        </div>
        <div class="amount__values row">
          <div class="amount__value col-6 row items-center justify-center"
               :class="{'amount__value_inactive': currentTransaction.expense}">
            <span v-if="currentTransaction.income">{{currentTransaction.income}}</span>
            <span v-else>-</span>
          </div>
          <div class="amount__value col-6 row items-center justify-center"
               :class="{'amount__value_inactive': currentTransaction.income}">
            <span v-if="currentTransaction.expense">{{currentTransaction.expense}}</span>
            <span v-else>-</span>
          </div>
        </div>
      </div>
      <div class="operation__description">
        {{currentTransaction.comment}}
      </div>
    </div>
    <div class="operation__buttons col-shrink">
      <div class="bottom-buttons row col-shrink">
        <div class="bottom-button justify-center items-center column col-5">
          <div class="bottom-button__label">Дата черновика</div>
          <div class="bottom-button__label">{{operationDraftTime}}</div>
        </div>
        <div class="bottom-button justify-center items-center column col-5">
          <div class="bottom-button__label">Дата утверждения</div>
          <div class="bottom-button__label">{{operationTime}}</div>
        </div>
        <div class="bottom-button justify-center items-center column col-2"
             @dblclick="createOperation"
        >
          <img src="./assets/images/copy.svg">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'operation',
  computed: {
    currentTransaction () {
      console.log(this.$store.getters['table/getTransaction'](this.$store.getters['ui/currentTransaction']))
      return this.$store.getters['table/getTransaction'](this.$store.getters['ui/currentTransaction'])
    },
    account () {
      return this.$store.getters['table/getAccount'](this.currentTransaction.accountId)
    },
    subAccount () {
      return this.$store.getters['table/getSubAccount'](this.currentTransaction.subAccountId)
    },
    operationTime () {
      const date = new Date(this.currentTransaction.date)
      return this.getWithZero(date.getDate()) + '.' + this.getWithZero(date.getMonth() + 1) + '.' + this.getWithZero(date.getFullYear())
    },
    operationDraftTime () {
      const date = new Date(this.currentTransaction.draftDate)
      return this.getWithZero(date.getDate()) + '.' + this.getWithZero(date.getMonth() + 1) + '.' + this.getWithZero(date.getFullYear())
    },
    accountTypeString () {
      if (this.account) {
        switch (this.account.type) {
          case 0:
            return 'Расходный'
          case 1:
            return 'Доходный'
          default:
            return null
        }
      } else {
        return null
      }
    }
  },
  methods: {
    getWithZero (value) {
      return (value < 10) ? '0' + value : value
    },
    createOperation () {
      this.openNewWindow('create-operation3', 'Создание операции', `non-resizable/create-operation?accountNumber=${this.$store.getters['table/getAccount'](this.currentTransaction.accountId).number}&subAccountNumber=${this.$store.getters['table/getSubAccount'](this.currentTransaction.subAccountId).number}`, {
        parent: true,
        width: 400,
        height: 630
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .operation {
    height: 100%;
    background-color: #ffffff;

    .operation__content {
      overflow-y: auto;
      padding: 30px 24px;
    }

    .operation__numbers {
      border: solid 1px #D5DFE5;
      width: 100%;
      padding: 5px 24px 15px 24px;

      .operation__number {

        .number__label {
          font-weight: 300;
          font-size: 10px;
          line-height: 11px;

          /* над */

          color: #000000;
        }

        .number__value {
          height: 18px;
          background: #F6F6F6;
          font-weight: 300;
          font-size: 10px;
          line-height: 11px;
          text-align: center;
          color: #000000;
          border: 1px solid #ACACAC;
          margin-top: 8px;
        }
      }
    }

    .account {
      width: 100%;
      background: #F6F6F6;
      margin-top: 15px;
      border: 1px solid #A8B0BA;
      box-sizing: border-box;
      border-radius: 2px;
      font-weight: 300;
      font-size: 10px;
      line-height: 10px;
      color: #000000;

      .account__header {
        border-bottom: 1px solid #A8B0BA;
        height: 20px;

        .account__name {
          height: 100%;
          border-right: 1px solid #A8B0BA;
        }

        .account__type {
          height: 100%;
        }
      }

      .account__description {
        padding: 7px 5px;
        height: 70px;
      }
    }

    .operation__amounts {
      width: 100%;
      font-weight: 300;
      font-size: 9px;
      line-height: 9px;
      text-align: center;
      margin-top: 15px;
      color: #000000;
      background: #F6F6F6;
      border: 1px solid #ACACAC;

      .amounts__header {
        height: 22px;
        border-bottom: 1px solid #ACACAC;

        .amounts__header_item {
          &:first-child {
            border-right: 1px solid #ACACAC;
          }
        }
      }

      .amount__values {
        height: 22px;

        .amount__value {
          &.amount__value_inactive {
            color: #ACACAC;
            background: #DDDDDD;
          }

          &:first-child {
            border-right: 1px solid #ACACAC;
          }
        }
      }
    }

    .operation__description {
      background: #F6F6F6;
      margin-top: 15px;
      border: 1px solid #A8B0BA;
      box-sizing: border-box;
      border-radius: 2px;
      padding: 7px 5px;
      font-weight: 300;
      font-size: 10px;
      line-height: 10px;
      color: #000000;
      height: 70px;
    }

    .bottom-buttons {
      height: 54px;
      width: 100%;
      background: #ECECEC;

      .bottom-button {
        border-right: solid 1px #ffffff;

        &:last-child {
          border-right: none;
        }

        .bottom-button__label {
          font-size: 10px;
          line-height: 12px;
          text-align: center;
          color: #0085FE;

          &:first-child {
            margin-bottom: 9px;
          }
        }
      }
    }
  }
</style>
