<template>
  <q-page class="column justify-center align-center">
    <div class="text text-center">Операция сохранена в черновик.<br> Что бы утвердить операцию перейдите в “Черновик”</div>
  </q-page>
</template>

<script>
export default {
  name: 'SaveSuccess'
}
</script>

<style lang="scss" scoped>
.text {
  font-weight: 300;
  font-size: 12px;
  width: 90%;
  margin: auto;
}
</style>
