<template>
  <q-page class="dashboard">
    <menu-block class="dashboard__menu"></menu-block>
    <dashboard-header class="dashboard__header"></dashboard-header>
    <div class="dashboard__content">
      <div class="dashboard__tree">
        <tree-block></tree-block>
      </div>
      <div class="dashboard__operations">
        <operations-block></operations-block>
      </div>
      <div class="dashboard__description">
        <description-block></description-block>
      </div>
    </div>
  </q-page>
</template>

<script>
import Menu from '../components/Menu'
import DashboardHeader from '../components/DashboardHeader'
import TreeBlock from '../components/Dashboard/Tree/index'
import OperationsBlock from '../components/Dashboard/Operations/index'
import DescriptionBlock from '../components/Dashboard/Description/index'

export default {
  name: 'PageIndex',
  methods: {
    openOperationWindow () {
      this.openNewWindow('create-operation', 'Создание операции', 'non-resizable/create-operation', {
        parent: true,
        width: 400,
        height: 640
      })
    }
  },
  components: {
    DashboardHeader,
    menuBlock: Menu,
    TreeBlock,
    OperationsBlock,
    DescriptionBlock
  }
}
</script>

<style lang="scss">
  .dashboard{
    height:100%;
    display: flex;
    flex-direction: column;
    .dashboard__menu{
    }
    .dashboard__header{
    }
    .dashboard__content{
      flex-grow: 1;
      display: flex;
      background-color: #f8f8f8;
      .dashboard__tree{
        width:25%;

      }
      .dashboard__operations{
        width:50%;

      }
      .dashboard__description{
        width:25%;
      }
    }
  }
</style>
