<template>
  <q-page class="operation__wrapper column no-wrap">
    <div class="col-auto">
      <group-block>
        <div class="row bills-numbers">
          <div class="col-6 column justify-center items-center">
            <div class="text">Номер счета*</div>
            <text-input alignment="center" class="bills-numbers-input" placeholder="123" disabled></text-input>
          </div>
          <div class="col-6 column justify-center items-center">
            <div class="text">Номер счета*</div>
            <text-input alignment="center" class="bills-numbers-input" placeholder="123" disabled></text-input>
          </div>
        </div>
      </group-block>
      <table-block class="bank-accounts"></table-block>
      <div class="q-mt-md q-mb-md row justify-end">
        <mf-button>Подтвердить</mf-button>
      </div>
      <div class="values row">
        <div class="values__item col-6">
          <div class="values__header-item row items-center justify-center">Расходный</div>
          <text-input alignment="center" placeholder="Сумма операции" class="values__input" disabled></text-input>
        </div>
        <div class="values__item col-6">
          <div class="values__header-item row items-center justify-center">Доходный</div>
          <text-input alignment="center" placeholder="Сумма операции" class="values__input" disabled></text-input>
        </div>
      </div>
      <div class="operations__description q-mt-md row items-center justify-center">
        Описание операции
      </div>
    </div>
    <div class="items-end col-grow row q-mt-md justify-between">
      <mf-button>Удалить</mf-button>
      <mf-button @click="openEditOperationWindow">Редактировать</mf-button>
      <mf-button>Утвердить</mf-button>
    </div>
  </q-page>
</template>

<script>
import group from '../../components/elements/group'
import textInput from '../../components/elements/textInput'
import table from '../../components/elements/table'
export default {
  name: 'ViewOperation',
  components: {
    groupBlock: group,
    textInput: textInput,
    tableBlock: table
  },
  methods: {
    openEditOperationWindow () {
      this.openNewWindow('edit-operation', 'Просмотр операции', '/edit-operation', {
        parent: true,
        width: 400,
        height: 620
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.operation__wrapper{
  padding:14px 19px 24px 19px;
  .bills-numbers{
    padding:20px;
    .bills-numbers-input{
      width:120px;
      margin-top:10px;
    }
  }
  .bank-accounts{
    width:100%;
    height:122px;
  }
  .values{
    width:100%;
    .values__item{
      .values__header-item{
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        height:30px;
        background: #F6F6F6;
        border: 1px solid #ACACAC;
      }
    }
    .values__input{
      width:100%;
      height:30px;
    }
  }
  .operations__description{
    width:100%;
    height:128px;
    background: #F6F6F6;
    border: 1px solid #349FFF;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #A8B0BA;
  }
}
</style>
