<template>
  <div class="operations column">
    <div class="operations__content col-grow">
      <table class="table">
        <tr class="table__header">
          <th class="header__cell">Дата</th>
          <th class="header__cell">Счет</th>
          <th class="header__cell">Субсчет</th>
          <th class="header__cell">{{ locationColumn==='Слева' ? 'Расход' : 'Доход' }}</th>
          <th class="header__cell">{{ locationColumn==='Слева' ? 'Доход' : 'Расход' }}</th>
          <th class="header__cell">Описание операции</th>
        </tr>
        <operation-block
          v-for="transaction in transactions"
          :transaction="transaction"
          :key="transaction.id"
          @click="openViewOperationWindow(transaction)"
        ></operation-block>
      </table>
      <p
        class="default-message default-message--empty"
        v-if="!transactions.length && (currentAccount || currentSubAccount)"
      >Операций нет</p>
      <p
        class="default-message default-message--empty"
        v-if="!currentAccount && !currentSubAccount"
      >Выберите счет или субсчет</p>
    </div>
    <div class="operations__bar row no-wrap col-shrink">
      <div class="bottom-button bottom-button__dark justify-center items-center column">
        <div class="bottom-button__label">Сумма счета</div>
        <div class="bottom-button__label">{{currentBalance}}</div>
      </div>
      <div class="bottom-button justify-center items-center column" @click="openRangeCalendarFrom">
        <div class="bottom-button__label">Первая операция</div>
        <v-date-picker
          is-inline
          v-model="dateRangeFrom"
          class="operations__range-calendar"
          v-show="dateRangeCalendars.from">
        </v-date-picker>
        <!--<q-date minimal  v-show="dateRangeCalendars.from" :options="rangeDatesForCalendarFrom" v-model="dateRangeFrom"
                ></q-date>-->
        <div class="bottom-button__label" v-if="this.firstAndLastOperations.first">{{getTheDate(this.dateRangeFrom)}}
        </div>
        <div class="bottom-button__label" v-else>-</div>
      </div>
      <div class="bottom-button justify-center items-center column" @click="openRangeCalendarTo">
        <div class="bottom-button__label">Конеччная операция</div>
        <v-date-picker
          is-inline
          v-model="dateRangeTo"
          class="operations__range-calendar"
          v-show="dateRangeCalendars.to">
        </v-date-picker>
        <div class="bottom-button__label" v-if="this.firstAndLastOperations.first">{{getTheDate(this.dateRangeTo)}}
        </div>
        <div class="bottom-button__label" v-else>-</div>
      </div>
    </div>
  </div>
</template>

<script>
import operation from './operation'
import { date as QDate } from 'quasar'
import { mapState } from 'vuex'

export default {
  name: 'Operations',
  data () {
    return {
      dateRange: {
        from: new Date(),
        to: new Date()
      },
      dateRangeCalendars: {
        from: false,
        to: false
      }
    }
  },
  components: {
    operationBlock: operation
  },
  methods: {
    rangeDatesForCalendarFrom (date) {
      return date <= '1970/07/13'
    },
    openRangeCalendarFrom (e) {
      this.dateRangeCalendars.from = !this.dateRangeCalendars.from
      const click = () => {
        this.dateRangeCalendars.from = false
        window.removeEventListener('click', click, true)
      }
      if (this.dateRangeCalendars.from) {
        window.addEventListener('click', click, true)
      }
    },
    openRangeCalendarTo (e) {
      this.dateRangeCalendars.to = !this.dateRangeCalendars.to
      const click = () => {
        this.dateRangeCalendars.to = false
        window.removeEventListener('click', click, true)
      }
      if (this.dateRangeCalendars.to) {
        window.addEventListener('click', click, true)
      }
    },
    openViewOperationWindow () {
      this.openNewWindow('view-operation', 'Просмотр операции', 'non-resizable/view-operation', {
        parent: true,
        width: 400,
        height: 620
      })
    },
    getTheDate (date) {
      return this.getWithZero(date.getDate()) + '.' + this.getWithZero(date.getMonth() + 1) + '.' + this.getWithZero(date.getFullYear())
    },
    getWithZero (value) {
      return (value < 10) ? '0' + value : value
    },
    resetRangeDates () {
      if (this.firstAndLastOperations.first) {
        this.dateRangeFrom = new Date(this.firstAndLastOperations.first.date)
        this.dateRangeTo = new Date(this.firstAndLastOperations.last.date)
      }
    }
  },
  mounted () {
    this.resetRangeDates()
  },
  computed: {
    ...mapState('settings', ['sortByDate', 'locationColumn']),
    currentBalanceByFilter () {
      return this.transactions.reduce((accumulator, currentValue) => {
        accumulator -= currentValue.expense
        accumulator += currentValue.income
        return accumulator
      }, 0)
    },
    currentBalance () {
      if (this.currentSubAccount) {
        return this.$store.getters['table/getSubAccountBalance'](this.currentSubAccount.id)
      } else if (this.currentAccount) {
        return this.$store.getters['table/getAccountBalance'](this.currentAccount.id)
      } else {
        return null
      }
    },
    currentAccount () {
      if (this.$store.getters['ui/currentAccount']) {
        return this.$store.getters['table/getAccount'](this.$store.getters['ui/currentAccount'])
      } else {
        return null
      }
    },
    currentSubAccount () {
      if (this.$store.getters['ui/currentSubaccount']) {
        return this.$store.getters['table/getSubAccount'](this.$store.getters['ui/currentSubaccount'])
      } else {
        return null
      }
    },
    firstAndLastOperations () {
      if (this.currentSubAccount) {
        return this.$store.getters['table/getFirstAndLastOperationOfSubAccount'](this.currentSubAccount.id)
      } else if (this.currentAccount) {
        return this.$store.getters['table/getFirstAndLastOperationOfAccount'](this.currentAccount.id)
      } else {
        return {
          first: null,
          last: null
        }
      }
    },
    transactions () {
      let transactions
      if (this.currentSubAccount) {
        transactions = this.$store.getters['table/transactions']
          .filter((e) => !e.isDraft && e.subAccountId === this.currentSubAccount.id)
      } else if (this.currentAccount) {
        transactions = this.$store.getters['table/transactions']
          .filter((e) => !e.isDraft && e.accountId === this.currentAccount.id)
      } else {
        transactions = []
      }
      const filterString = this.$store.state.ui.transactionFilter.value
      if (filterString) {
        const regexp = new RegExp(filterString.replace(/[-/\\^$*+?.()|[\]{}]/g, '\\$&'), 'i')
        transactions = transactions.filter(e => {
          return regexp.test(e.comment)
        })
      }
      transactions = transactions.filter(e => {
        const dateOfTransaction = new Date(e.date)
        const dateFrom = QDate.adjustDate(
          new Date(this.dateRangeFrom),
          {
            hours: 0,
            minutes: 0,
            seconds: 0,
            milliseconds: 0
          })
        const dateTo =
            QDate.addToDate(QDate.adjustDate(new Date(this.dateRangeTo),
              {
                hours: 0,
                minutes: 0,
                seconds: 0,
                milliseconds: 0
              }), { days: 1 })
        console.log(dateOfTransaction, dateFrom, dateTo)
        return QDate.isBetweenDates(dateOfTransaction, dateFrom, dateTo)
      })
      if (this.sortByDate === 'От старых к новым') {
        return transactions
      } else {
        // TODO обойти трабл с копирование массива
        const temArray = transactions
        temArray.reverse()
        return temArray
      }
    },
    dateRangeFrom: {
      set (value) {
        if (!(value instanceof Date)) {
          value = new Date()
        }
        this.$store.commit('ui/SET_TRANSACTION_FILTER', { dateFrom: value.getTime() })
      },
      get () {
        if (this.$store.state.ui.transactionFilter.dateFrom === null) {
          const tempTime = new Date()
          this.$store.commit('ui/SET_TRANSACTION_FILTER', { dateFrom: tempTime.getTime() })
        }
        return new Date(this.$store.state.ui.transactionFilter.dateFrom)
      }
    },
    dateRangeTo: {
      set (value) {
        if (!(value instanceof Date)) {
          value = new Date()
        }
        this.$store.commit('ui/SET_TRANSACTION_FILTER', { dateTo: value.getTime() })
      },
      get () {
        if (this.$store.state.ui.transactionFilter.dateTo === null) {
          const tempTime = new Date()
          this.$store.commit('ui/SET_TRANSACTION_FILTER', { dateTo: tempTime.getTime() })
        }
        return new Date(this.$store.state.ui.transactionFilter.dateTo)
      }
    }
  },
  watch: {
    currentAccount () {
      this.resetRangeDates()
    },
    currentSubAccount () {
      this.resetRangeDates()
    },
    currentBalanceByFilter () {
      this.$store.commit('ui/SET_TRANSACTION_FILTER', {
        balance: this.currentBalanceByFilter
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../css/colors";

  .operations {
    width: 100%;
    height: 100%;

    .operations__bar {
      height: 54px;
      width: 100%;
      background: #ECECEC;

      .bottom-button {
        &.bottom-button__dark{
          background: #E1E1E1;
        }
        position: relative;

        .operations__range-calendar {
          bottom: 100%;
          position: absolute;
        }

        border-right: solid 1px #ffffff;
        width: 130px;

        &:last-child {
          border-right: none;
        }

        .bottom-button__label {
          font-size: 10px;
          line-height: 12px;
          text-align: center;
          color: #0085FE;

          &:first-child {
            margin-bottom: 9px;
          }
        }
      }
    }

    .table {
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;

      .table__header {
        background-color: $colorAccent;
        height: 42px;

        .header__cell {
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
          color: #FFFFFF;
        }
      }

    }

    .tree__header {
      color: #ffffff;
      height: 39px;
      background-color: $colorAccent;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .default-message {
    color: #8f8f8f;
    text-align: center;
    padding: 20px;
  }

</style>
