<template>
  <tr class="table__row"
      :class="{'table__row_selected': (currentTransaction && currentTransaction.id === transaction.id)}"
      @click="currentTransaction = transaction.id">
    <td class="table__cell">{{ dateStringDate(transaction.date) }}</td>
    <td class="table__cell">{{ account.number }}</td>
    <td class="table__cell" v-if="subAccount">{{ subAccount.number }}</td>
    <td class="table__cell" v-else>-</td>
    <td class="table__cell"
        :class="{'table__cell_minus': !expense}"
    >
      <div class="minus__content"
           v-if="!expense"
      >
        -
      </div>
      <span v-if="expense">{{ expense }}</span>
    </td>
    <td class="table__cell"
        :class="{'table__cell_minus': !income}"
    >
      <div class="minus__content"
           v-if="!income"
      >
        -
      </div>
      <span v-if="income">{{ income }}</span>
    </td>
    <td class="table__cell">{{ transaction.comment }}</td>
  </tr>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'operation',
  props: {
    transaction: {
      type: Object
    }
  },
  computed: {
    ...mapState('settings', ['locationColumn']),
    expense () {
      if (this.locationColumn === 'Справа') {
        return this.transaction.income
      } else {
        return this.transaction.expense
      }
    },
    income () {
      if (this.locationColumn === 'Справа') {
        return this.transaction.expense
      } else {
        return this.transaction.income
      }
    },
    currentAccount () {
      if (this.$store.getters['ui/currentAccount']) {
        console.log(this.$store.getters['table/getAccount'](this.$store.getters['ui/currentAccount']))
        return this.$store.getters['table/getAccount'](this.$store.getters['ui/currentAccount'])
      } else {
        return null
      }
    },
    currentSubaccount () {
      if (this.$store.getters['ui/currentSubaccount']) {
        console.log(this.$store.getters['table/getSubAccount'](this.$store.getters['ui/currentSubaccount']))
        return this.$store.getters['table/getSubAccount'](this.$store.getters['ui/currentSubaccount'])
      } else {
        return null
      }
    },
    account () {
      return this.$store.getters['table/getAccount'](this.transaction.accountId)
    },
    subAccount () {
      return this.$store.getters['table/getSubAccount'](this.transaction.subAccountId)
    },
    currentTransaction: {
      set (id) {
        this.$store.commit('ui/SET_TRANSACTION', id)
      },
      get () {
        return this.$store.getters['table/getTransaction'](this.$store.getters['ui/currentTransaction'])
      }
    }
  },
  methods: {
    dateStringDate (date) {
      console.log(date)
      date = new Date(date)
      return this.getWithZero(date.getDate()) + '.' + this.getWithZero(date.getMonth() + 1) + '.' + this.getWithZero(date.getFullYear())
    },
    getWithZero (value) {
      return (value < 10) ? '0' + value : value
    }
  }
}
</script>

<style lang="scss" scoped>
  .reverse-column {
    display: flex;
    flex-direction: row-reverse;
  }

  .table__row {
    transition-property: background-color;
    transition-duration: .2s;
    color: #000000;
    cursor: pointer;

    &.table__row_selected {
      background-color: #ebebeb !important;
      color: #0085FE !important;
    }

    &:hover {
      background-color: #c9c9c9 !important;
    }

    &:nth-child(odd) {
      background-color: #F3F3F3;
    }

    &:nth-child(even) {
      background-color: #FFFFFF;
    }

    .table__cell {
      padding: 0;
      position: relative;

      &:after {
        top: 1px;
        width: 1px;
        height: calc(100% - 2px);
        background-color: #E3E3E3;
        position: absolute;
        right: 0;
        content: "";
      }

      vertical-align: center;
      text-align: center;
      height: 39px;
      font-size: 11px;
      line-height: 13px;

      x
      &.table__cell_minus {
        min-width: 40px;

        .minus__content {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #E1E1E1;
          width: 100%;
          height: calc(100% - 2px);
        }
      }
    }
  }
</style>
