<template>
  <q-page :class="$s['success-modal']">
    <div>Удаление завершенно</div>
  </q-page>
</template>

<script>
export default {
  name: 'SuccessModal'
}
</script>

<style lang="scss" module="$s">
.success-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #BABABA;
  font-weight: 300;
  font-size: 12px;
}
</style>
