<template>
  <q-page class="column items-center">
    <div class="text justify-center text-center q-mt-lg">Операция не соответствует типу счёта. Хотите продолжить ?</div>
    <div class="buttons justify-center q-mt-md">
      <mf-button>Подтвердить</mf-button>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'SaveWarning'
}
</script>

<style lang="scss" scoped>
.text {
  font-weight: 300;
  font-size: 12px;
}
</style>
