<template>
  <div class="dashboard-header">
    <div class="dashboard-header__panel">
      <div class="panel__button" @click="openCurrencyWindow">
        {{ getCurrency.title }}
      </div>
      <div class="panel__button">
        {{ getCurrencyBalance || 0 }}
      </div>
    </div>
    <div class="dashboard-header__search">
      <div class="search">
        <input type="text" class="search__input" v-model="transactionFilterValue">
        <img src="../assets/images/dashboardHeader/search.svg" class="search__icon">
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'DashboardHeader',
  methods: {
    openCurrencyWindow () {
      this.openNewWindow('currency', 'Список валют', 'non-resizable/currency', {
        parent: true,
        width: 550,
        height: 550
      })
    }
  },
  computed: {
    ...mapGetters('ui', ['currentCurrency']),
    getCurrency () {
      return this.$store.getters['table/getCurrency'](this.currentCurrency)
    },
    transactionFilterValue: {
      set (value) {
        this.$store.commit('ui/SET_TRANSACTION_FILTER', { value: value })
      },
      get () {
        return this.$store.state.ui.transactionFilter.value
      }
    },
    getCurrencyBalance () {
      return this.$store.getters['table/getCurrencyBalance'](this.currentCurrency)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../css/elements";
  @import "../css/colors";

  .dashboard-header {
    width: 100%;
    height: 39px;
    background: $colorAccent;
    box-shadow: 0px 4px 4px rgba(0, 18, 181, 0.15);
    display: flex;
    border-bottom: 1px solid $colorAccentLight;

    .dashboard-header__panel {
      width: 25%;
      display: flex;
      justify-content: space-around;
      height:100%;
      align-items: center;

      .panel__button {
        @include button;
        width: calc(50% - 3px);
        cursor: default;
      }
    }
    .dashboard-header__search{
      width:50%;
      justify-content: flex-end;
      align-items: center;
      display: flex;
      .search{
        max-width: 350px;
        width:100%;
        background-color: $colorAccentLight;
        border-radius: 10px;
        display: flex;
        .search__input{
          flex-grow: 1;
          border:none;
          background-color: transparent;
          padding:0 10px;
          font-size:12px;
          color:#ffffff;
        }
        .search__icon{
          margin:0 6px;
        }
      }
    }
  }
</style>
