<template>
  <div class="menu">
    <div class="menu__item" @click="openOperationWindow">Добавить операцию</div>
    <div class="menu__item" @click="openCreateBillWindow">Добавить счет</div>
    <div class="menu__item" @click="openDraftOperationWindow">Черновик</div>
    <div class="menu__item">Синхронизировать</div>
    <div class="menu__item" @click="openSettingsWindow">Настройки</div>
    <div class="menu__item" @click="block">Блокировать</div>
  </div>
</template>

<script>
export default {
  name: 'Menu',
  methods: {
    openCreateBillWindow () {
      this.openNewWindow('create-bill', 'Создание счета', 'non-resizable/create-bill', {
        parent: true,
        width: 550,
        height: 550
      })
    },
    openOperationWindow () {
      this.openNewWindow('create-operation2', 'Создание операции', 'non-resizable/create-operation', {
        parent: true,
        width: 400,
        height: 640
      })
    },
    openDraftOperationWindow () {
      this.openNewWindow('draft-operation', 'Черновик', 'non-resizable/draft-operation', {
        parent: true,
        width: 550,
        height: 600
      })
    },
    openSettingsWindow () {
      this.openNewWindow('settings', 'Настройки', 'non-closable/settings', {
        parent: true,
        width: 420,
        height: 600
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.menu{
  width:100%;
  height:32px;
  font-family: Roboto, 'sans-serif';
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 4px 5px rgba(13, 43, 121, 0.15);
  .menu__item{
    padding:0 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    line-height: 13px;
    transition-property: background-color;
    transition-duration: .2s;
    cursor: pointer;
    color: #000000;
    &:hover{
      background-color: #c3c3c3;
    }
  }
}
</style>
