<template>
  <q-page class="clear-data-modal">
    <div class="body">
      <mf-checkbox
        v-for="(item, i) in array"
        :key="i"
        v-model="item.checked"
        :label="item.label"  />
    </div>
    <div class="buttons">
      <mf-button @click="confirmation">Подтвердить</mf-button>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'ClearDataModal',
  data () {
    return {
      array: [
        { label: 'Удалить данные на устройстве', checked: true },
        { label: 'Удалить данные в облаке', checked: false }
      ]
    }
  },
  methods: {
    confirmation () {
      this.randomPromise()
        .then(() => {
          this.openNewWindow('clear-data/success', 'Очистить данные', '/success', {
            parent: true,
            width: 280,
            height: 110
          })
        })
        .catch(() => {
          this.openNewWindow('clear-data/error', 'Операция не выполнена', '/error', {
            parent: true,
            width: 280,
            height: 110
          })
        })
    },
    randomPromise () {
      return new Promise((resolve, reject) => {
        Math.random() > 0.5 ? resolve() : reject()
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.clear-data-modal {
  border: 1px solid #BABABA;
  .body {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80px;
    margin: auto;
    margin-top: 35px;
    justify-content: space-between;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: auto;
    margin-top: 35px;
  }
}
</style>
