@import "colors";
@mixin button {
  height: 35px;
  background-color: $colorAccentLight;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  color: #FFFFFF;
  transition-duration: .2s;
  transition-property: background-color;
  &:hover{
    background-color: $colorAccentDark;
  }
}
