<template>
  <q-page class="create-bill-modal">
    <div class="input-name">
      <q-input
        outlined
        dense
        v-model="name"
        color="blue-5"
        placeholder="Название счета"/>
    </div>
    <div class="inputs">
      <div class="numbers">
        <div class="number-bill">
          <div class="number-bill__title">Номер счета*</div>
          <div class="number-bill__input">
            <q-input
              square
              outlined
              v-model="accountNumber"
              dense
              color="blue-5" />
          </div>
        </div>
        <div class="number-sub-bill">
          <div class="number-sub-bill__title">Номер субсчета*</div>
          <div class="number-sub-bill__input">
            <q-input
              square
              outlined
              v-if="!accountNumberExists"
              :disable="true"
              v-model="subAccountNumber"
              dense
              bg-color="grey-4"
              color="blue-1" />
            <q-input
              square
              outlined
              v-else
              v-model="subAccountNumber"
              dense
              color="blue-1" />
          </div>
        </div>
      </div>
      <div class="type-bill">
        <div class="type-bill__title">Тип счета</div>
        <div class="type-bill__input">
          <q-select
            square
            outlined
            dense
            v-model="model"
            :options="options"
            class="type-bill__input-select"
            color="blue-5"/>
        </div>
      </div>
    </div>
    <div class="input-description">
      <q-input
        autogrow
        outlined
        dense
        color="blue-5"
        v-model="description"
        input-class="input-class"
        placeholder="Описание счета"></q-input>
    </div>
    <div class="description-rules">Созданный счет нельзя удалить или редактировать,
      нажимая клавишу "Создать" Вы должны быть уверены в правильности
      веденных данных
    </div>
    <div class="buttons">
      <mf-button @click="create">Создать</mf-button>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'CreateBillModal',
  data () {
    return {
      options: [
        {
          value: '0',
          label: 'Расходный'
        },
        {
          value: '1',
          label: 'Доходный'
        }
      ],
      model: null,
      name: '',
      description: '',
      accountNumber: '',
      subAccountNumber: ''
    }
  },
  computed: {
    accounts () {
      return this.$store.getters['table/getAccountsByCurrency'](this.currentCurrency)
    },
    accountNumberExists () {
      return (!!this.account)
    },
    account () {
      return this.accounts.find(e => e.number === this.accountNumber)
    },
    currentCurrency () {
      return this.$store.getters['ui/currentCurrency']
    }
  },
  mounted () {
    this.model = this.options[0]
  },
  methods: {
    create () {
      if (this.subAccountNumber) {
        this.$store.dispatch('table/addSubAccount', {
          title: this.name,
          description: this.description,
          number: this.subAccountNumber,
          accountId: this.account.id
        })
      } else {
        this.$store.dispatch('table/addAccount', {
          title: this.name,
          description: this.description,
          number: this.accountNumber,
          type: this.model.value,
          currencyId: this.currentCurrency
        })
      }
      this.closeThisWindow()
    }
  },
  watch: {
    accountNumber () {
      if (!this.accountNumberExists) {
        this.subAccountNumber = ''
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.create-bill-modal {
  border: 1px solid #BABABA;
  .input-name {
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  .inputs {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    min-height: 150px;
    border: 1px solid #D5DFE5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    .numbers {
      display: flex;
      justify-content: space-around;
      .number-bill,.number-sub-bill {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .type-bill {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &__title {
        text-align: center;
        width: 50%;
      }
      &__input {
        display: flex;
        width: 50%;
        justify-content: center;
        &-select {
          width: 100%;
          max-width: 183px;
        }
      }
    }
  }
  .input-description {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    /deep/.input-class {
      min-height: 140px;
    }
  }
  .description-rules {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
  }
  .buttons {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
}
</style>
