<template>
  <q-page class="currency-modal">
    <div class="card-list">
      <currency-card v-for="(currency, $index) in currencies"
                     :key="currency.id"
                     :item="currency"
                     :editable="true"
                     :index="$index"
                     :currentIndex="currentIndex"
      />
    </div>
    <div class="footer">
      <!--<div class="icon" @click="openArchiveModal">
        <img src="~src/assets/archive.svg" />
        <q-tooltip anchor="center right"
                  self="bottom left"
                  :content-class="$s.tooltip">
          Архив
        </q-tooltip>
      </div>-->
      <div class="buttons">
        <!--<mf-button @click="openPasswordModal">Архивировать</mf-button>-->
        <mf-button @click="openCreateCurrencyWindow">Создать</mf-button>
      </div>
    </div>
  </q-page>
</template>

<script>
import CurrencyCard from './components/CurrencyCard'

export default {
  name: 'CurrencyModal',
  components: {
    CurrencyCard
  },
  data () {
    return {
      currentIndex: 0
    }
  },
  methods: {
    openPasswordModal () {
      this.openNewWindow('currency/password', 'Архивация', '/password', {
        parent: true,
        width: 300,
        height: 235
      })
    },
    openCreateCurrencyWindow () {
      this.openNewWindow('currency/create', 'Создание валюты', '/create', {
        parent: true,
        width: 550,
        height: 550
      })
    },
    openArchiveModal () {
      this.openNewWindow('currency/archive', 'Архив', '/archive', {
        parent: true,
        width: 550,
        height: 550
      })
    }
  },
  computed: {
    currencies () {
      return this.$store.getters['table/currencies']
    },
    currentCurrency () {
      return this.$store.getters['ui/currentCurrency']
    }
  }
}
</script>

<style lang="scss" scoped>
  .currency-modal {
    border: 1px solid #BABABA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-list {
      overflow-y: scroll;
      background: #F6F6F6;
      border: 1px solid #B8B8B8;
      width: 80%;
      height: 430px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      margin-top: 20px;
      padding-bottom: 10px;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      margin: auto;

      .icon {
        cursor: pointer;
      }

      .buttons {
        display: flex;
        width: 240px;
        justify-content: space-between;
      }
    }
  }
</style>
<style lang="scss" module="$s">
  .tooltip {
    height: 17px;
    width: 56px;
    background: #E5E5E5;
    font-size: 10px;
    color: #0085FE;
    padding: 0 0;
    text-align: center;
    border-radius: 0;
    overflow: visible;

    &::before {
      content: '';
      position: absolute;
      z-index: 999;
      left: -3px;
      top: 3px;
      border-right: 5px solid #E5E5E5;
      border-bottom: 5px solid transparent;
      border-top: 5px solid transparent;
    }
  }
</style>
