<template>
  <q-page class="excel column">
    <div class="excel__toggle-outer">
      <q-btn-toggle
        v-model="selectedType"
        spread
        toggle-color="primary"
        :options="[
        {label: 'Скачать', value: 'file'}
      ]">
      </q-btn-toggle>
    </div>
    <div class="excel__description" v-if="selectedType === 'mail'">
      Введите адрес эл. почты
    </div>
    <div class="excel__description" v-if="selectedType === 'file'">
      Укажите путь для сохранения фаила
    </div>
    <div class="excel__items">
      <div class="row content-stretch excel-input" v-if="selectedType === 'mail'">
        <text-input placeholder="email@example.com" styleType="white" class="col-grow"></text-input>
      </div>
      <div class="row content-stretch excel-input" v-if="selectedType === 'file'">
        <text-input :placeholder="filename" styleType="white" class="col-grow" @click.native="selectPath"></text-input>
      </div>
      <div class="row content-stretch excel-input">
        <text-input :value.sync="pincode" placeholder="PIN-КОД" styleType="white" class="col-grow"></text-input>
      </div>
    </div>
    <div class="row col-grow items-end justify-end">
      <mf-button @click="openSuccessWindow">Подтвердить</mf-button>
    </div>
  </q-page>
</template>

<script>
import textInput from '../../../components/elements/textInput'

export default {
  name: 'ExcelOutput',
  components: { textInput },
  data () {
    return {
      selectedType: 'file',
      filename: 'C:/',
      pincode: ''
    }
  },
  methods: {
    selectPath () {
      const { remote } = require('electron')
      const dialog = remote.dialog
      // const WIN = remote.getCurrentWindow()

      const options = {
        // Placeholder 1
        title: 'Экспорт базы данных',
        // Placeholder 2
        defaultPath: 'C:\\database.xlsx',
        // Placeholder 4
        buttonLabel: 'Экспортировать',
        //  Placeholder 3
        filters: [
          { name: 'Custom File Type', extensions: ['xlsx'] },
          { name: 'All Files', extensions: ['*'] }
        ]
      }
      dialog.showSaveDialog(options).then((result) => {
        this.filename = result.filePath
        console.log('Second Response: ', result) // you probably want result.filePath
      }).catch((...args) => {
        console.warn('failed/rejected with', args)
      })
    },
    openSuccessWindow () {
      if (this.pincode === this.password || this.pincode === this.pin) {
        const transactions = this.$store.state.table.data.transactions
        const fs = require('fs')
        const xl = require('excel4node')
        const wb = new xl.Workbook()
        const ws = wb.addWorksheet('Операции')
        const style = wb.createStyle({
          font: {
            color: '#000000',
            size: 12
          }
        })
        ws.cell(1, 1)
          .string('id')
          .style(style)
        ws.cell(1, 2)
          .string('Номер счета')
          .style(style)
        ws.cell(1, 3)
          .string('Номер субсчета')
          .style(style)
        ws.cell(1, 4)
          .string('Расход')
          .style(style)
        ws.cell(1, 5)
          .string('Доход')
          .style(style)
        ws.cell(1, 6)
          .string('Комментарий')
          .style(style)
        ws.cell(1, 7)
          .string('Дата утверждения')
          .style(style)
        ws.cell(1, 8)
          .string('Дата черновика')
          .style(style)
        ws.cell(1, 9)
          .string('Черновик')
          .style(style)
        transactions.forEach((e, i) => {
          ws.cell(i + 2, 1)
            .number(e.id)
            .style(style)
          ws.cell(i + 2, 2)
            .string(this.$store.getters['table/getAccount'](e.accountId).number)
            .style(style)
          ws.cell(i + 2, 3)
            .string(e.subAccountId ? this.$store.getters['table/getSubAccount'](e.subAccountId).number : '-')
            .style(style)
          ws.cell(i + 2, 4)
            .number(Number(e.expense))
            .style(style)
          ws.cell(i + 2, 5)
            .number(Number(e.income))
            .style(style)
          ws.cell(i + 2, 6)
            .string(e.comment)
            .style(style)
          ws.cell(i + 2, 7)
            .date(e.date)
            .style(style)
          ws.cell(i + 2, 8)
            .date(e.draftDate)
            .style(style)
          ws.cell(i + 2, 9)
            .bool(e.isDraft)
            .style(style)
        })

        const accounts = this.$store.state.table.data.accounts
        const ws2 = wb.addWorksheet('Счета')
        ws2.cell(1, 1)
          .string('id')
          .style(style)
        ws2.cell(1, 2)
          .string('Валюта')
          .style(style)
        ws2.cell(1, 3)
          .string('Номер счета')
          .style(style)
        ws2.cell(1, 4)
          .string('Тип')
          .style(style)
        ws2.cell(1, 5)
          .string('Название')
          .style(style)
        ws2.cell(1, 6)
          .string('Описание')
          .style(style)
        ws2.cell(1, 7)
          .string('Дата создания')
          .style(style)
        accounts.forEach((e, i) => {
          ws2.cell(i + 2, 1)
            .number(Number(e.id))
            .style(style)
          ws2.cell(i + 2, 2)
            .number(Number(e.currencyId))
            .style(style)
          ws2.cell(i + 2, 3)
            .string(e.number.toString())
            .style(style)
          ws2.cell(i + 2, 4)
            .number(Number(e.type))
            .style(style)
          ws2.cell(i + 2, 5)
            .string(e.title.toString())
            .style(style)
          ws2.cell(i + 2, 6)
            .string(e.description.toString())
            .style(style)
          ws2.cell(i + 2, 7)
            .date(new Date(e.creationTime))
            .style(style)
        })
        wb.writeToBuffer().then((buffer) => {
          fs.writeFileSync(this.filename, buffer, 'utf-8')
          this.openNewWindow('success-output', 'Выгрузить в Excel', '/success', {
            parent: true,
            width: 250,
            height: 150
          })
        })
      }
    }
  },
  computed: {
    pin () {
      return this.$store.getters['security/pin']
    }
  }
}
</script>

<style lang="scss" scoped>
  .excel {
    padding: 20px 32px;

    .excel__description {
      margin: 10px 0;
      font-weight: 300;
      font-size: 11px;
      line-height: 13px;
      color: #000000;
    }

    .excel-input {
      margin: 13px 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }
</style>
