<template>
  <q-page class="excel column">
    <div class="excel__label row justify-center">Загружено успешно</div>
    <div class="row col-grow items-end justify-center">
      <mf-button class="excel__button" @click="close">OK</mf-button>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'ExcelSuccess',
  data () {
    return {
    }
  },
  mounted () {
  },
  methods: {
    close () {
      this.closeThisWindow()
      this.$q.electron.remote.BrowserWindow.getFocusedWindow().getParentWindow().close()
    }
  }
}
</script>

<style lang="scss" scoped>
  .excel{
    padding:20px 32px;
    .excel__label{
      margin-bottom:15px;
    }
    .excel__button{
      width:150px;
    }
  }
</style>
