<template>
  <q-page class="filter__wrapper column no-wrap">
    <div class="">
      <group-block>
        <div class="date-group row items-center">
          <div class="col-2">
            По дате
          </div>
          <div class="col-10 row items-center">
            <div class="col-6 row items-center">
              <div class="col-1"></div>
              <div class="col-2">с</div>
              <div class="col-9 row">
                <v-date-picker
                  v-model="dateRangeFrom"
                  :input-props="{
                  class: 'date-input'
                  }">
                </v-date-picker>
              </div>
            </div>
            <div class="col-6 row items-center">
              <div class="col-1"></div>
              <div class="col-2">По</div>
              <div class="col-9 row">
                <v-date-picker
                  v-model="dateRangeTo"
                  :popover="{ placement: 'bottom', visibility: 'click' }"
                  :input-props="{
                  class: 'date-input'
                  }">
                </v-date-picker>
              </div>
            </div>
          </div>
        </div>
      </group-block>
      <group-block>
        <div class="row number-name-group items-center justify-between">
          <div class="col-4">По номеру счета</div>
          <div class="col-7 row">
            <text-input :value.sync="accountNumber" class="col-grow"></text-input>
          </div>
        </div>
        <div class="row number-name-group items-center justify-between">
          <div class="col-4">По номеру субсчета</div>
          <div class="col-7 row">
            <text-input class="col-grow"></text-input>
          </div>
        </div>
        <div class="row number-name-group items-center justify-between">
          <div class="col-4">По названию</div>
          <div class="col-7 row">
            <text-input class="col-grow"></text-input>
          </div>
        </div>
        <div class="row number-name-group items-center justify-start">
          <div class="col-5 row items-center">
            Расходный
            <mf-checkbox :value.sync="accountType0" class="q-ml-lg"/>
          </div>
          <div class="col-5 row items-center">
            Доходный
            <mf-checkbox :value.sync="accountType1" class="q-ml-lg"/>
          </div>
        </div>
      </group-block>
      <group-block>
        <div class="row number-name-group items-center justify-between">
          <div class="col-4">По описанию операции</div>
          <div class="col-7 row">
            <text-input class="col-grow"></text-input>
          </div>
        </div>
        <div class="row number-name-group items-center justify-between">
          <div class="col-4">По сумме</div>
          <div class="col-7 row">
            <text-input class="col-grow"></text-input>
          </div>
        </div>
      </group-block>
    </div>
    <div class="col-grow row items-end filter__buttons justify-between">
      <mf-button @click="openExcelWindow">Выгрузить в Excel</mf-button>
      <mf-button>Подтвердить</mf-button>
    </div>
  </q-page>
</template>

<script>
import Group from '../../../components/elements/group'
import textInput from '../../../components/elements/textInput'

export default {
  name: 'Filter-block',
  data () {
    return {
      dataRangeFrom: new Date(),
      dataRangeTo: new Date(),
      accountNumber: null,
      subAccountNumber: null,
      accountName: '',
      accountType0: true,
      accountType1: true,
      transactionDescription: null,
      sum: 0
    }
  },
  components: {
    groupBlock: Group,
    textInput: textInput
  },
  computed: {
    /* dateRangeFrom: {
      set (dateFrom) {
        if (!(dateFrom instanceof Date)) {
          dateFrom = new Date()
        }
        this.$store.commit('ui/SET_TRANSACTION_FILTER', { dateFrom: dateFrom.getTime() })
      },
      get () {
        if (this.$store.state.ui.transactionFilter.dateFrom === null) {
          const tempTime = new Date()
          this.$store.commit('ui/SET_TRANSACTION_FILTER', { dateFrom: tempTime.getTime() })
        }
        console.log('get')
        return new Date(this.$store.state.ui.transactionFilter.dateFrom)
      }
    },
    dateRangeTo: {
      set (dateTo) {
        if (!(dateTo instanceof Date)) {
          dateTo = new Date()
        }
        this.$store.commit('ui/SET_TRANSACTION_FILTER', { dateTo: dateTo.getTime() })
      },
      get () {
        if (this.$store.state.ui.transactionFilter.dateTo === null) {
          const tempTime = new Date()
          this.$store.commit('ui/SET_TRANSACTION_FILTER', { dateTo: tempTime.getTime() })
        }
        return new Date(this.$store.state.ui.transactionFilter.dateTo)
      }

    } */
  },
  methods: {
    openExcelWindow () {
      this.openNewWindow('excel-output', 'Выгрузить в Excel', '/excel-output', {
        parent: true,
        width: 300,
        height: 290
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .filter__wrapper {
    padding: 10px 19px;
    background-color: #ffffff;

    .date-group {
      padding: 0 17px;
      height: 43px;
    }

    .number-name-group {
      padding: 9px 19px;
    }

    .filter__buttons {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
</style>

<style lang="scss">
  .date-input {
    width: 146px;
    height: 25px;
    background: #F6F6F6;
    border: 1px solid #ACACAC;
  }
</style>
