<template>
  <div class="group-block">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'group'
}
</script>

<style lang="scss" scoped>
.group-block{
  border: 1px solid #D5DFE5;
  margin:9px 0;
}
</style>
