<template>
  <div class="column table">
    <div class="table__header row col-auto">
      <div class="col-6 table__header-item row items-center justify-center">Название счета</div>
      <div class="col-6 table__header-item row items-center justify-center">Доходный</div>
    </div>
    <div class="table__content col-grow row items-center justify-center">Описание счета</div>
  </div>
</template>

<script>
export default {
  name: 'table'
}
</script>

<style lang="scss" scoped>
.table{
  background: #F6F6F6;
  border: 1px solid #D5DFE5;
  border-radius: 2px;
  .table__header{
    height:25px;
    .table__header-item{
      height:100%;
      background: #F6F6F6;
      border: 1px solid #D5DFE5;
      border-radius: 2px;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #000000;
    }
  }
  .table__content{
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #A8B0BA;
  }
}
</style>
