<template>
  <div class="text-input" :class="{
           'text-input_grey': styleType === 'grey',
           'text-input_white': styleType === 'white'
           }">
    <input type="text"
           :class="{
            'text-input__input_error': conditionFailed,
            'text-input__input_a-center': alignment === 'center'}"
           @focus="onFocus"
           @blur="onBlur"
           @input="$emit('change', $event)"
           :placeholder="placeholder"
           ref="input"
           v-bind:value="currentValue"
           v-on:input="onInput"
           class="text-input__input">
  </div>
</template>

<script>
import InputMask from 'inputmask'

export default {
  name: 'textInput',

  props: {
    styleType: {
      type: String,
      default: 'grey'
    },
    label: {
      type: String,
      default: null
    },
    validCondition: {
      type: Boolean,
      default: null
    },
    placeholder: {
      type: String,
      default: null
    },
    mask: {
      type: String,
      default: null
    },
    value: {
      type: String,
      default: null
    },
    alignment: {
      type: String,
      default: 'left'
    }
  },
  watch: {
    value (newValue) {
      this.currentValue = this.value
    },
    currentValue () {
      this.$emit('update:value', this.currentValue)
      this.$emit('action', this.currentValue)
    }
  },
  data () {
    return {
      focus: false,
      currentValue: null,
      conditionFailed: false
    }
  },
  methods: {
    onFocus () {
      this.conditionFailed = false
    },
    onBlur () {
      if (this.validCondition === false) {
        this.conditionFailed = true
      }
    },
    onInput (e) {
      this.currentValue = e.target.value
    }
  },
  mounted () {
    this.currentValue = this.value
    if (this.mask) {
      const mask = new InputMask({
        mask: this.mask
      })
      mask.mask(this.$refs.input)
    }
  }
}
</script>

<style lang="scss" scoped>
  .text-input__input{
    font-size: 11px;
    line-height: 13px;
    &.text-input__input_a-center{
      text-align: center!important;
    }
  }
  .text-input_grey {
    width: 85px;
    height: 25px;
    background: #F6F6F6;
    border: 1px solid #ACACAC;

    .text-input__input {
      width: 100%;
      height: 100%;
      border: none;
      background-color: transparent;
    }
  }
  .text-input_white{
    width:230px;
    height:35px;
    border: 1px solid #A8B0BA;
    .text-input__input{
      width: 100%;
      height: 100%;
      border: none;
      background-color: transparent;
      padding:0 8px;
    }
  }
</style>
