<template>
    <div class="operation-card">
        <div class="title row items-center q-pl-sm">Валюта: {{ currencyName }}</div>
        <div class="bill-numbers row justify-center">
            <div class="col-5 column items-center text-center">
                <div class="label">Номер счета</div>
                <div class="value">{{ accountNumber }}</div>
            </div>
            <div class="col-5 column items-center text-center">
                <div class="label">Номер субсчета</div>
                <div class="value">{{ subAccountNumber }}</div>
            </div>
        </div>
        <div class="type row  justify-center q-mt-md text-center">
            <div class="column">
                <div class="type__label">Расходный</div>
                <div
                        class="type__summ"
                        :class="{'disabled' : account.type === 1}">
                    {{ item.expense ? item.expense : "Сумма операции" }}
                </div>
            </div>
            <div>
                <div class="type__label">Доходный</div>
                <div
                        class="type__summ"
                        :class="{
            'disabled' : account.type === 0}">
                    {{ item.income ? item.income : "Сумма операции" }}
                </div>
            </div>
        </div>
        <div class="operation-description q-mx-auto q-mt-md">
            {{item.comment}}
        </div>
        <div class="data justify-between row items-center q-mt-md q-mb-sm">
            <div class="data__label q-ml-sm">Дата сохранения в черновик</div>
            <div class="data__value q-mr-sm">{{data}}</div>
        </div>
        <q-popup-proxy context-menu>
            <q-banner>
                <div class="context__item" @click="approve">Утвердить</div>
                <div class="context__item" @click="deleted">Удалить</div>
            </q-banner>
        </q-popup-proxy>
    </div>
</template>

<script>
export default {
  name: 'OperationCard',
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  computed: {
    data () {
      const getWithZero = (value) => {
        return (value < 10) ? '0' + value : value
      }
      const date = new Date(this.item.draftDate)
      return getWithZero(date.getDate()) + '.' + getWithZero(date.getMonth() + 1) + '.' + getWithZero(date.getFullYear())
    },
    currencyName () {
      return this.$store.getters['table/getCurrencyByAccount'](this.item.accountId).title
    },
    account () {
      return this.$store.getters['table/getAccount'](this.item.accountId)
    },
    accountNumber () {
      return this.$store.getters['table/getAccount'](this.item.accountId).number
    },
    subAccountNumber () {
      if (this.item.subAccountId) {
        return this.$store.getters['table/getSubAccount'](this.item.subAccountId).number
      } else {
        return ''
      }
    }
  },
  methods: {
    approve () {
      this.$store.dispatch('table/approveTransaction', this.item)
      console.log(this.item.type)
    },
    deleted () {
      console.log(this.item.type)
      this.$store.dispatch('table/removeTransaction', this.item)
    }
  }
}
</script>

<style lang="scss" scoped>
  .context__item:hover{
    background-color: #A8B0BA;
    cursor: pointer;
  }
    .operation-card {
        border: 1px solid #0085FE;
        border-radius: 3px;
        margin-top: 10px;

        .title {
            height: 25px;
            background: #0F9FFF;
            border-radius: 2px;
            font-weight: 500;
            font-size: 13px;
            color: #FFFFFF;
        }

        .bill-numbers {
            margin-top: 5px;

            .label {
                font-weight: 300;
                font-size: 12px;
            }

            .value {
                background: #F6F6F6;
                border: 1px solid #ACACAC;
                width: 140px;
                height: 25px;
                line-height: 25px;
                font-weight: 300;
                font-size: 11px;
                margin-top: 5px;
            }
        }

        .type {
            &__label {
                background: #F6F6F6;
                border: 1px solid #ACACAC;
                width: 175px;
                height: 30px;
                line-height: 30px;
                font-weight: 300;
                font-size: 11px;
            }

            &__summ {
                background: #F6F6F6;
                border: 1px solid #ACACAC;
                font-weight: 300;
                font-size: 11px;
                width: 175px;
                height: 30px;
                line-height: 30px;

                &.disabled {
                    background: #DDDDDD;
                    color: #ACACAC;
                }
            }
        }

        .operation-description {
            padding-left: 6px;
            background: #F6F6F6;
            border: 1px solid #349FFF;
            border-radius: 2px;
            width: 390px;
            height: 90px;
            font-size: 11px;
            word-wrap: normal;
            word-break: break-all;
            text-align: center;
            display: flex;
            align-items: center;
        }
    }
</style>
