<template>
  <div id="q-app">
    <router-view/>
  </div>
</template>

<script>
require('./microfox/')
export default {
  name: 'App',
  mounted () {
  }
}
</script>

<style lang="scss">
  @import "./fonts/Roboto/Roboto";
</style>
