<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-bar class="q-electron-drag">
        <q-icon name="laptop_chromebook"/>
        <div>Soft 2020</div>

        <q-space/>

        <q-btn dense flat icon="minimize" @click="minimize"/>
        <q-btn dense flat icon="crop_square" @click="maximize"/>
        <q-btn dense flat icon="close" @click="closeApp"/>
      </q-bar>

      <div class="q-pa-sm q-pl-md row items-center"
           :class="{'blocked': blocked}"
      >
        <div class=" cursor-pointer non-selectable">
          Файл
          <q-menu>
            <q-list dense style="min-width: 100px">
              <q-item clickable v-close-popup @click="openCurrencyWindow">
                <q-item-section>Валюта</q-item-section>
              </q-item>

              <q-separator/>

              <q-item clickable v-close-popup
                @click="saveAsXLSX"
              >
                <q-item-section>Архивация</q-item-section>
              </q-item>
              <!--
              <q-item clickable v-close-popup>
                <q-item-section>Восстановление из архива</q-item-section>
              </q-item>
              -->

              <q-separator/>
              <!--
              <q-item clickable>
                <q-item-section>Аккаунт</q-item-section>
                <q-item-section side>
                  <q-icon name="keyboard_arrow_right"/>
                </q-item-section>

                <q-menu anchor="top right" self="top left">
                  <q-list>
                    <q-item clickable v-close-popup @click="openClearData">
                      <q-item-section>Очистить данные</q-item-section>
                    </q-item>
                    <q-item clickable v-close-popup>
                      <q-item-section>Сменить аккаунт</q-item-section>
                    </q-item>
                    <q-item clickable v-close-popup>
                      <q-item-section>Информация об аккаунте</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-item>
               -->
              <q-separator/>

              <q-item clickable v-close-popup>
                <q-item-section>Черновик</q-item-section>
              </q-item>

              <q-separator/>

              <q-item clickable v-close-popup @click="openSyncWindow">
                <q-item-section>Синхронизация</q-item-section>
              </q-item>

              <q-item clickable v-close-popup @click="block">
                <q-item-section>Блокировать</q-item-section>
              </q-item>

              <q-item clickable v-close-popup @click="closeApp">
                <q-item-section>Выход</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </div>

        <div class="q-ml-md cursor-pointer non-selectable">
          Правка
          <q-menu auto-close>
            <q-list dense style="min-width: 100px">
              <!--<q-item clickable
                      @click="saveAsXLSX">
                <q-item-section>Перенести в архив</q-item-section>
              </q-item>
              <q-item clickable>
                <q-item-section>Изменить</q-item-section>
              </q-item>
              <q-item clickable>
                <q-item-section>Отметить</q-item-section>
              </q-item>
              <q-separator/>-->
              <q-item clickable @click="saveAsXLSX">
                <q-item-section>Выгрузить в Excel</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </div>

        <div class="q-ml-md cursor-pointer non-selectable">
          Инструменты
          <q-menu auto-close>
            <q-list dense style="min-width: 100px">
              <q-item @click="openFilterWindow" clickable>
                <q-item-section>Фильтр</q-item-section>
              </q-item>

              <q-separator/>

              <q-item clickable
                @click="removeAllData"
              >
                <q-item-section>Очистить даныне</q-item-section>
              </q-item>
              <!--
              <q-item clickable>
                <q-item-section>Сменить пароль</q-item-section>
              </q-item>
              <q-item clickable>
                <q-item-section>Pin-код</q-item-section>
              </q-item>-->
              <q-separator/>
              <q-item clickable
                @click="openSettings"
              >
                <q-item-section>Настройки</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </div>

        <div class="q-ml-md cursor-pointer non-selectable">
          Помощь
          <q-menu auto-close>
            <q-list dense style="min-width: 100px">
              <q-item clickable>
                <q-item-section>Помощь</q-item-section>
              </q-item>
              <q-item clickable>
                <q-item-section>Проверка обновлений</q-item-section>
              </q-item>
              <q-separator/>
              <q-item clickable>
                <q-item-section>О приложении</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </div>
      </div>
    </q-header>

    <q-page-container
      :class="{'blocked': blocked}"
    >
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MainLayout',

  data () {
    return {}
  },

  computed: {
    blocked () {
      return this.$store.getters['security/blocked']
    }
  },

  methods: {
    removeAllData () {
      alert('Данные приложения не могут быть очищены на демонстрационной версии приложения')
      this.openClearData()
    },
    openSettings () {
      this.openNewWindow('settings', 'Настройки', 'non-closable/settings', {
        parent: true,
        width: 420,
        height: 600
      })
    },
    saveAsXLSX () {
      this.openNewWindow('excel-output', 'Выгрузить в Excel', 'non-resizable/filter/excel-output', {
        parent: true,
        width: 300,
        height: 290
      })
    },
    requireUnblock () {
      this.$nextTick().then(() => {
        this.openNewWindow('blocked', 'Приложение заблокировано', 'non-closable/blocked', {
          parent: true,
          width: 400,
          height: 280
        })
      })
    },
    openFilterWindow () {
      this.openNewWindow('filter', 'Фильтр', 'non-resizable/filter', {
        parent: true,
        width: 550,
        height: 470
      })
    },
    openClearData () {
      this.openNewWindow('clear-data', 'Очистить данные', 'non-resizable/clear-data', {
        parent: true,
        width: 300,
        height: 235
      })
    },
    openSyncWindow () {
      this.openNewWindow('sync', 'Синхронизация', 'non-resizable/sync', {
        parent: true,
        width: 550,
        height: 550
      })
    },
    openCurrencyWindow () {
      this.openNewWindow('currency', 'Список валют', 'non-resizable/currency', {
        parent: true,
        width: 550,
        height: 550
      })
    },
    minimize () {
      if (process.env.MODE === 'electron') {
        this.$q.electron.remote.BrowserWindow.getFocusedWindow().minimize()
      }
    },
    maximize () {
      if (process.env.MODE === 'electron') {
        const win = this.$q.electron.remote.BrowserWindow.getFocusedWindow()
        if (win.isMaximized()) {
          win.unmaximize()
        } else {
          win.maximize()
        }
      }
    },
    closeApp () {
      if (process.env.MODE === 'electron') {
        this.$q.electron.remote.BrowserWindow.getFocusedWindow().close()
      }
    }
  },
  mounted () {
    console.log('mounted')
    if (this.$store.state.settings.settings.blockAtClosingWindow || this.$store.state.settings.settings.blockAtBackgroundMode) {
      this.$store.commit('security/BLOCK')
      if (this.$store.state.security.blocked) {
        this.openNewWindow('blocked', 'Приложение заблокировано', 'non-closable/blocked', {
          parent: true,
          width: 400,
          height: 280
        })
      }
    }
    const mainWindow = require('electron').remote.getCurrentWindow()
    mainWindow.on('blur', () => {
      if (this.$store.state.settings.settings.blockAtBackgroundMode) {
        console.log('--blur')
        const newWindow = this.$q.electron.remote.BrowserWindow.getFocusedWindow()
        if (newWindow) {
          console.log(newWindow)
        } else {
          console.log('blur without windows')
          if (this.$store.state.settings.settings.blockAtBackgroundMode) {
            this.$store.commit('security/BLOCK')
          }
        }
      }
    })
    mainWindow.on('focus', () => {
      if (this.$store.state.settings.settings.blockAtBackgroundMode) {
        console.log('--focus')
        const newWindow = this.$q.electron.remote.BrowserWindow.getFocusedWindow()
        if (newWindow) {
          console.log(mainWindow.id, newWindow, mainWindow.id === newWindow.id)
          if (mainWindow.id === newWindow.id) {
            if (this.$store.state.security.blocked) {
              this.openNewWindow('blocked', 'Приложение заблокировано', 'non-closable/blocked', {
                parent: true,
                width: 400,
                height: 280
              })
            }
          }
        } else {
          this.$nextTick().then(() => {
            if (this.$store.state.security.blocked) {
              this.openNewWindow('blocked', 'Приложение заблокировано', 'non-closable/blocked', {
                parent: true,
                width: 400,
                height: 280
              })
            }
          })
        }
      }
    })
  }
}
</script>

<style>
  .blocked {
    pointer-events: none !important;
    user-select: none !important;
    filter: blur(6px) !important;
  }
</style>
