<template>
    <div class="currency-card"
         @dblclick="select()"
         :class="{'selected': currentCurrency === item.id}"
    >
        <div class="header">
            <div class="header__title">{{ item.title }}</div>
            <div class="header__value">{{ balance }}</div>
            <!--<div v-if="editable" class="header__icon">
                <img src="~src/assets/edit.svg" @click="openEditCurrencyWindow"/>
            </div>-->
        </div>
        <div class="body">{{ item.description }}</div>
        <div class="footer">
            <div class="data">{{ date }}</div>
            <div class="data">{{ date }}</div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'CurrencyCard',
  props: {
    item: {
      type: Object,
      required: true
    },
    editable: {
      type: Boolean,
      default: false
    },
    index: {
      type: Number
    },
    currentIndex: {
      type: Number
    }
  },
  computed: {
    ...mapState('ui', ['currentCurrency']),
    date () {
      return new Date().toLocaleDateString() // TODO find first last date
    },
    balance () {
      return this.$store.getters['table/getCurrencyBalance'](this.currentCurrency)
    },
    currentCurrency () {
      return this.$store.getters['ui/currentCurrency']
    }
  },
  methods: {
    openEditCurrencyWindow () {
      this.openNewWindow('currency/edit', 'Редактирование валюты', `/edit?id=${this.item.id}`, {
        parent: true,
        width: 550,
        height: 550
      })
    },
    select () {
      this.$store.commit('ui/SET_CURRENCY', this.item.id)
      this.closeThisWindow()
    }
  }
}
</script>

<style lang="scss" scoped>
    .selected {
        border: 1px solid #0085FE !important;
    }

    .currency-card {
        border: 1px solid #D3D3D3;
        box-shadow: 0px 4px 5px rgba(52, 159, 255, 0.16);
        border-radius: 3px;
        width: 90%;
        mix-blend-mode: normal;
        font-style: normal;
        margin-top: 10px;

        .header {
            border-bottom: 1px solid #D3D3D3;
            display: flex;
            height: 50px;
            align-items: center;
            font-weight: 500;
            font-size: 12px;

            &__value {
                flex-grow: 1;
                display: flex;
                justify-content: flex-end;
                padding: 0 30px 0 0;
            }

            &__title {
                flex-grow: 1;
                padding: 0 0 0 20px;
            }

            &__icon {
                width: 30px;
                display: flex;
                justify-content: center;
                cursor: pointer;

                img {
                    width: 20px;
                }
            }
        }

        .body {
            min-height: 75px;
            padding: 10px 20px;
            font-size: 11px;
        }

        .footer {
            width: 100%;
            background: #0F9FFF;
            border-radius: 2px;
            height: 30px;
            display: flex;
            align-items: center;
            color: #F3F3F3;
            font-size: 12px;
            justify-content: space-between;
            padding: 0 30px 0 10px;
        }
    }
</style>
