<template>
  <q-page class="sync__outer">
    <div class="sync">
      <div class="sync__content">
        <div class="sync__title">
          Выберите облоко для синхронизации. Вы должны иметь зарегистрированный аккаунт в выбранном облаке.
        </div>
        <div class="sync__description">
          Существующий аккаунт может отличаться от аккаунта, используемого для авторизации в магазине.: В аккаунте должна
          существовать база CashInCloud, созданная мобильным приложением. Версия для Windows может только подключиться к
          существующей базе CashInCloud.
        </div>
        <div class="sync__delimiter"></div>
        <div class="sync__systems">
          <div class="system" :class="{'system_selected': selectedType === 'google'}" @click="selectedType = 'google'">
            <div class="system___icon">
              <img src="../../assets/images/sync-system-icons/google.png">
            </div>
            <div class="system__label">Google Диск</div>
          </div>
          <div class="system" :class="{'system_selected': selectedType === 'onedrive'}" @click="selectedType = 'onedrive'">
            <div class="system___icon">
              <img src="../../assets/images/sync-system-icons/onedrive.png">
            </div>
            <div class="system__label">Microsoft OneDrive</div>
          </div>
          <div class="system" :class="{'system_selected': selectedType === 'yadisk'}" @click="selectedType = 'yadisk'">
            <div class="system___icon">
              <img src="../../assets/images/sync-system-icons/yadisk.png">
            </div>
            <div class="system__label">Yandex Диск</div>
          </div>
          <div class="system" :class="{'system_selected': selectedType === 'huawei'}" @click="selectedType = 'huawei'">
            <div class="system___icon">
              <img src="../../assets/images/sync-system-icons/huawei.png">
            </div>
            <div class="system__label">Cloud.huawei.com</div>
          </div>
        </div>
      </div>
      <div class="sync__buttons">
        <div class="sync__button">
          Далее
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Sync',
  data () {
    return {
      selectedType: ''
    }
  }
}
</script>

<style lang="scss" scoped>
  @mixin block_padding{
    padding: 0 33px;
  }
  .sync__outer{
    display: flex;
    flex-direction: column;
  }
  .sync {
    flex-grow: 1;
    background: #FFFFFF;
    padding:33px 0 33px 0;
    display: flex;
    flex-direction: column;
    height:100%;
    .sync__content{
      flex-grow: 1;
      .sync__title{
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        @include block_padding;
      }
      .sync__description{
        margin:18px 0 0 0;
        font-weight: 300;
        font-size: 12.3167px;
        line-height: 14px;
        color: #A1A1A1;
        @include block_padding;
      }
      .sync__delimiter{
        width:calc(100% - 10px);
        margin:15px auto;
        height:1px;
        background-color: #D6D6D6;
      }
      .sync__systems{
        width:100%;
        @include block_padding;
        .system{
          cursor: default;
          width:100%;
          height:50px;
          padding:0 25px;
          display: flex;
          align-items: center;
          transition-property: background-color;
          transition-duration: .1s;
          &.system_selected{
            background: rgba(196, 196, 196, 0.2);
            &:hover{
              background: rgba(196, 196, 196, 0.2);
            }
          }
          &:hover{
            background: rgba(226, 226, 226, 0.2);
          }
          .system___icon{
            width:45px;
            height:100%;
            display: flex;
            align-items: center;
          }
          .system__label{
            margin-left:14px;
            font-size: 14px;
            line-height: 15px;
            color: #000000;
          }
        }
      }
    }
    .sync__buttons{
      flex-shrink: 0;
      width:100%;
      display: flex;
      justify-content: flex-end;
      margin-top:30px;
      @include block_padding;
      .sync__button{
        cursor: default;
        width:100px;
        height:25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #DDDDDD;
        border: 1px solid #A1A1A1;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #000000;
      }
    }
  }
</style>
