<template>
  <div class="description">
    <div class="description__header">
      Описание
    </div>
    <div class="description__content">
      <operation-block v-if="currentOperation"></operation-block>
      <account-block v-if="(currentAccount || currentSubAccount) && !currentOperation"></account-block>
    </div>
    <!--{{ getCurrency.title }}  {{ getCurrencyBalance || 0 }}-->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import OperationBlock from './components/operation'
import AccountBlock from './components/account'

export default {
  name: 'description',
  components: {
    OperationBlock,
    AccountBlock
  },
  computed: {
    ...mapGetters('ui', ['currentCurrency']),
    getCurrency () {
      return this.$store.getters['table/getCurrency'](this.currentCurrency)
    },
    getCurrencyBalance () {
      return this.$store.getters['table/getCurrencyBalance'](this.currentCurrency)
    },
    currentOperation () {
      return this.$store.getters['table/getTransaction'](this.$store.getters['ui/currentTransaction'])
    },
    currentAccount () {
      return this.$store.getters['table/getAccount'](this.$store.getters['ui/currentAccount'])
    },
    currentSubAccount () {
      return this.$store.getters['table/getSubAccount'](this.$store.getters['ui/currentSubaccount'])
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../css/colors";
  .description{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    .description__header{
      color:#ffffff;
      height:42px;
      background-color: $colorAccent;
      width:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      border-left: 1px solid $colorAccentLight;
    }
    .description__content{
      flex-grow: 1;
    }
  }
</style>
