<template>
  <q-page class="settings">
    <div class="block">
      <div class="row justify-between items-center">
        <div class="col-8">Самоуничтожение при неверном пароле</div>
        <mf-button class="settings__button"
                   @click="settings.autodestroy = !settings.autodestroy"
        >{{ settings.autodestroy ? 'Да' : 'Нет'}}
        </mf-button>
      </div>
      <mf-toggle v-model="settings.smallPassword" class="q-mt-sm">Короткий пароль</mf-toggle>
      <mf-toggle v-model="settings.firstSymbolsPassword" class="q-mt-sm"
                 :class="{'disable-row': !settings.smallPassword}"
      >Первые четыре знака пароля
      </mf-toggle>
      <mf-toggle v-model="settings.lastSymbolsPassword" class="q-mt-sm"
                 :class="{'disable-row': !settings.smallPassword}"
      >Последние четыре знака пароля
      </mf-toggle>
    </div>
    <div class="title">Безопасность</div>
    <div class="block">
      <!--<div class="row justify-between items-center">
        <div>Автоблокировка</div>
        <mf-button class="settings__button">нет</mf-button>
      </div>-->
      <mf-toggle v-model="settings.blockAtClosingWindow" class="q-mt-md">Блокировка при закрытии окна</mf-toggle>
      <mf-toggle v-model="settings.blockAtBackgroundMode" class="q-mt-md">Блокировка в фоне</mf-toggle>
    </div>
    <div class="row q-mt-lg">
      <div class="col-6 row justify-between items-center q-px-sm">
        <div>Язык</div>
        <q-btn-dropdown
          class="language-button"
          dense
          :label="language"
          :dropdown-icon="'img:statics/icons/dropdown-icon.svg'">
          <q-list>
            <q-item
              v-for="(item,i) in languages"
              :key="i"
              clickable
              dense
              v-close-popup
              class="items-center"
              @click="setLanguage(item)">
              {{item}}
            </q-item>
          </q-list>
        </q-btn-dropdown>
      </div>
      <!--
      <div class="settings__toggle-theme col-6 row items-center q-px-sm">
        <mf-toggle v-model="settings.darkTheme">Темная версия</mf-toggle>
      </div>
      -->
    </div>
    <div class="col-6 row justify-between items-center q-px-sm q-mt-lg">
      <div>Сортировка по дате</div>
      <q-btn-dropdown
        class="language-button"
        dense
        :label="sortByDate"
        :dropdown-icon="'img:statics/icons/dropdown-icon.svg'">
        <q-list>
          <q-item
            v-for="(item,i) in typesSortByDate"
            :key="i"
            clickable
            dense
            v-close-popup
            class="items-center"
            @click="setSortByDate(item)">
            {{ item }}
          </q-item>
        </q-list>
      </q-btn-dropdown>
    </div>
    <div class="col-6 row justify-between items-center q-px-sm q-mt-lg">
      <div>Столбец ”Расход” расположить</div>
      <q-btn-dropdown
        class="language-button"
        dense
        :label="locationColumn"
        :dropdown-icon="'img:statics/icons/dropdown-icon.svg'">
        <q-list>
          <q-item
            v-for="(item,i) in locationsColumn"
            :key="i"
            clickable
            dense
            v-close-popup
            class="items-center"
            @click="setLocationColumn(item)">
            {{item}}
          </q-item>
        </q-list>
      </q-btn-dropdown>
    </div>
    <div class="buttons row justify-end q-mt-xl q-px-sm">
      <mf-button @click="accept">Подтвердить</mf-button>
    </div>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Settings',
  data () {
    return {
      languages: [
        'Русский'
      ],
      typesSortByDate: [
        'От старых к новым', 'От новых к старым'
      ],
      locationsColumn: [
        'Слева', 'Справа'
      ],
      settings: {
        autodestroy: false,
        smallPassword: true,
        firstSymbolsPassword: false,
        lastSymbolsPassword: false,
        blockAtClosingWindow: false,
        blockAtBackgroundMode: false,
        darkTheme: false
      }
    }
  },
  computed: {
    ...mapState('settings', ['language', 'sortByDate', 'locationColumn'])
  },
  methods: {
    accept () {
      this.$q.electron.remote.BrowserWindow.getFocusedWindow().close()
    },
    setLanguage (name) {
      this.$store.commit('settings/SET_LANGUAGE', name)
    },
    setSortByDate (name) {
      this.$store.commit('settings/SET_SORT', name)
    },
    setLocationColumn (name) {
      this.$store.commit('settings/SET_LOCATION_COLUMN', name)
    }
  },
  watch: {
    settings: {
      handler (val) {
        console.log(val)
        this.$store.commit('settings/SET_SETTINGS', val)
      },
      deep: true
    },
    'settings.firstSymbolsPassword' (val) {
      if (val) {
        this.settings.lastSymbolsPassword = false
      }
    },
    'settings.lastSymbolsPassword' (val) {
      if (val) {
        this.settings.firstSymbolsPassword = false
      }
    }
  },
  created () {
    this.settings = { ...this.$store.getters['settings/settings'] }
  }
}
</script>

<style lang="scss" scoped>
  .disable-row {
    opacity: 0.5;
    pointer-events: none !important;
  }

  .settings {
    padding: 20px 20px;

    .block {
      border: 1px solid #D5DFE5;
      margin-bottom: 15px;
      padding: 8px 8px 5px;
    }

    .title {
      text-align: center;
      font-weight: 300;
    }

    &__button {
      min-width: 50px;
    }

    .language-button {
      height: 25px;
      font-weight: 300;
      font-size: 11px;
      box-shadow: none;
      border: 1px solid black;
      border-radius: 0;
      background: #EFEFEF;

      ::before {
        content: none;
      }

      ::after {
        content: none;
      }

      /deep/ .q-focus-helper {
        width: 0px;
      }
    }
  }
</style>
